<% for(let i = 0; i < 4; i++) { %>
<div class="w-full min-h-[430px] border border-[#D3D9DC] rounded-xl overflow-hidden shadow-2xl">
  <div class="h-46 w-full relative">
    <img class="size-full object-cover" src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1470" alt="">
    <div class="absolute bottom-0 right-0 left-0 top-0 p-4 flex flex-col justify-between">
      <div class="text-right">
        <p class="tag  text-white font-bold py-1 px-3 bg-highlight rounded-xl inline-block">Giảm 10%</p>
      </div>
      <div>
        <p class="text-white font-bold text-base">Take off to Tokyo sale<br>
          Sakura show</p>
        <p class="text-white text-xs">Hết hạn sau: 34 ngày 12:08:17</p>
      </div>
    </div>
    <div class="absolute -bottom-5 right-4 w-fit">
      <img src="./airline/VN.svg" alt="Logo airline">
    </div>
  </div>
  <div class="flex flex-col justify-between p-4 h-61.5">
    <div>
      <p class="text-sm font-bold">Dubai - Tokyo / Asia</p>
    </div>
    <div class="flex w-full justify-between">
      <div>
        <p class="text-xs font-bold max-w-[74px]">
          VÉ MÁY BAY QUỐC TẾ <img src="./search/plane-start.svg" alt="icon plane" class="w-3.5 inline">
        </p>
      </div>
      <div class="text-end">
        <ul class="flex items-center">
          <li><img src="./flight-card/start-none.svg" alt=""></li>
          <li><img src="./flight-card/start-pick.svg" alt=""></li>
          <li><img src="./flight-card/start-pick.svg" alt=""></li>
          <li><img src="./flight-card/start-pick.svg" alt=""></li>
          <li><img src="./flight-card/start-pick.svg" alt=""></li>
        </ul>
        <p class="text-[10px] font-bold">25 Người xem</p>
      </div>
    </div>
    <div>
      <p class="text-xs line-clamp-4">Lorem ipsum dolor, sit amet consec r, sit amet consectetur adipisic tetur adipisic r, sit amet consectetur adipisic ing elit. Saepe vero officia sequi a blanditiis.</p>
    </div>
    <div class="flex justify-between items-center">
      <div>
        <a href="" class="text-sm uppercase font-bold bg-primary text-white px-5 py-1.5 xl:px-3 xl:py-1 rounded-br-3xl rounded-tl-3xl">Chi Tiết</a>
      </div>
      <div>
        <p class="price text-accent font-extrabold text-base xl:text-sm">2,800,000 đ</p>
        <p class="price-sale  font-bold text-xs line-through">39,680,000 đ</p>
      </div>
    </div>
  </div>
</div>
<% } %>