<section class="container mx-auto mt-7.5 relative">
  <div class="bg-[#CAF0F8] rounded-t-xl max-xl:hidden">
    <ul class="flex gap-2 justify-start items-center">
      <li>
        <a href="#" class="text-xl text-accent p-4 font-semibold flex gap-2 items-center">
          <img src="./nav/vemaybay.svg" alt="">
          Vé máy bay</a>
      </li>
      <li><a href="#" class="text-xl text-text-primary p-4 font-semibold flex gap-2 items-center">
          <img src="./nav/khachsan.svg" alt="">
          Khách sạn</a></li>
      <li><a href="#" class="text-xl text-text-primary p-4 font-semibold flex gap-2 items-center">
          <img src="./nav/tour.svg" alt="">
          Tour</a></li>
      <li><a href="#" class="text-xl text-text-primary p-4 font-semibold flex gap-2 items-center">
          <img src="./nav/vecongvien.svg" alt="">
          Vé công viên</a></li>
      <li><a href="#" class="text-xl text-text-primary p-4 font-semibold flex gap-2 items-center">
          <img src="./nav/khampha.svg" alt="">
          Khám phá</a></li>
      <li>
        <a href="#" class="text-xl text-text-primary p-4 font-semibold flex gap-2 items-center">
          <img src="./nav/tracuu.svg" alt="">
          Tra cứu vé</a>
      </li>
    </ul>
  </div>
  <div class="bg-primary text-white p-4 shadow-lg">
    <form class="w-full" method="post">
      <input type="text" class="hidden" id="departure-point-value" name="departure_point" value="HAN" />
      <!-- Điểm đi -->
      <input type="text" class="hidden" id="arrival-point-value" name="arrival_point" value="SGN" />
      <!-- Điểm đến -->
      <input type="text" class="hidden" id="departure-date-value" name="departure_date" />
      <!-- Ngày đi -->
      <input type="text" class="hidden" id="return-date-value" name="return_date" />
      <!-- Ngày về -->
      <div class="flex flex-wrap items-center gap-5 max-xl:justify-between">
        <div class="flex gap-5">
          <label class="inline-flex items-center gap-2 cursor-pointer">
            <input type="radio" name="trip" value="one_way" id="one_way" class="size-4" checked />
            <span class="text-sm">Một chiều</span>
          </label>
          <label class="inline-flex items-center gap-2 cursor-pointer">
            <input type="radio" name="trip" value="two_way" id="two_way" class="size-4" />
            <span class="text-sm">Khứ hồi</span>
          </label>
        </div>
        <div type="button" class="relative cursor-pointer">
          <div class="flex gap-2" id="person-input">
            <img src="./search/member.svg" alt="Icon member" />
            <span id="render-person">Số lượng hành khách</span>
            <img src="./search/drop-dow.svg" alt="Icon member" />
          </div>
          <!-- START QUANTITY -->
          <div id="quantity-modal"
            class="w-90 hidden bg-white flex flex-col gap-8 max-w-[960px] p-6 shadow-[0px_8px_30px_rgba(0,0,0,0.15)] absolute top-8 max-xl:right-0 max-xl:left-auto max-sm:right-auto max-sm:left-0 max-sm:w-[73vw] left-0 z-9999 text-text-primary">
            <div class="flex gap-2 items-center">
              <img src="./search/user-plus.svg" alt="" />
              <p class="font-semibold">Số lượng hành khách</p>
            </div>
            <div>
              <div data-type="adult-passenger-value"
                class="person-input-change flex justify-between border-b border-[#B3B0D8] py-5">
                <p>Người lớn</p>
                <div class="flex gap-5">
                  <div class="minus-button">
                    <img src="./search/minus.svg" alt="" />
                  </div>
                  <input type="text" class="max-w-3 outline-none" name="adult_passenger" value="1" />
                  <div class="plus-button">
                    <img src="./search/plus.svg" alt="" />
                  </div>
                </div>
              </div>
              <div data-type="child-passenger-value"
                class="person-input-change flex justify-between border-b border-[#B3B0D8] py-5">
                <p>Trẻ em <span class="ml-2 text-sm text-[#B3B0D8]">2-11</span></p>
                <div class="flex gap-5">
                  <div class="minus-button">
                    <img src="./search/minus.svg" alt="" />
                  </div>
                  <input type="text" class="max-w-3 outline-none" name="child_passenger" value="0" />
                  <div class="plus-button">
                    <img src="./search/plus.svg" alt="" />
                  </div>
                </div>
              </div>
              <div data-type="infant-passenger-value" class="person-input-change flex justify-between py-5">
                <p>Em bé<span class="ml-2 text-sm text-[#B3B0D8]">Dưới 2</span></p>
                <div class="flex gap-5">
                  <div class="minus-button">
                    <img src="./search/minus.svg" alt="" />
                  </div>
                  <input type="text" class="max-w-3 outline-none" name="infant_passenger" value="0" />
                  <div class="plus-button">
                    <img src="./search/plus.svg" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="bg-primary text-white font-semibold w-full py-2.5 rounded-xl text-center cursor-pointer"
                onclick="
                document.getElementById('quantity-modal').classList.add('hidden');
              ">
                Xác nhận
              </div>
            </div>
          </div>
          <!--END  QUANTITY -->
        </div>
      </div>
      <div class="justify-between gap-3 my-2 grid grid-cols-4 max-xl:grid-cols-2 max-sm:grid-cols-1"
        id="form-search-input">
        <div class="bg-white rounded-md p-3 flex justify-between items-center cursor-pointer"
          id="departure-point-input">
          <div>
            <div class="flex gap-2">
              <img src="./search/plane-start.svg" alt="icon plane" />
              <span class="text-text-primary text-sm">Điểm khởi hành</span>
            </div>
            <p class="text-text-primary text-lg font-bold line-clamp-1 display">Hà Nội (HAN)</p>
          </div>
          <div class="p-4 border-l border-l-[#D3D9DC]">
            <img src="./search/drop-dow-gray.svg" alt="icon drop dow" />
          </div>
        </div>
        <div class="bg-white rounded-md p-3 flex justify-between items-center cursor-pointer" id="arrival-point-input">
          <div>
            <div class="flex gap-2">
              <img src="./search/plane-start.svg" alt="icon plane" />
              <span class="text-text-primary text-sm">Điểm khởi hành</span>
            </div>
            <p class="text-text-primary text-lg font-bold line-clamp-1 display">Hồ Chí Minh (SGN)</p>
          </div>
          <div class="p-4 border-l border-l-[#D3D9DC]">
            <img src="./search/drop-dow-gray.svg" alt="icon drop dow" />
          </div>
        </div>
        <div
          class="bg-white rounded-md p-3 flex justify-between items-center max-xl:col-span-2 max-sm:col-span-1 cursor-pointer"
          id="departure-date-input">
          <div>
            <div class="flex gap-2">
              <img src="./search/calender.svg" alt="icon plane" />
              <span class="text-text-primary text-sm">Ngày đi</span>
            </div>
            <p class="text-text-primary text-lg font-bold line-clamp-1 display">20/11/2025</p>
          </div>
          <div class="p-4 border-l border-l-[#D3D9DC]">
            <img src="./search/drop-dow-gray.svg" alt="icon drop dow" />
          </div>
        </div>
        <div class="bg-white rounded-md p-3 flex justify-between items-center hidden cursor-pointer"
          id="return-date-input">
          <div>
            <div class="flex gap-2">
              <img src="./search/calender.svg" alt="icon plane" />
              <span class="text-text-primary text-sm">Ngày về</span>
            </div>
            <p class="text-text-primary text-lg font-bold line-clamp-1 display">26/11/2025</p>
          </div>
          <div class="p-4 border-l border-l-[#D3D9DC]">
            <img src="./search/drop-dow-gray.svg" alt="icon drop dow" />
          </div>
        </div>
        <div class="bg-accent rounded-md max-xl:col-span-2 max-sm:col-span-1 max-xl:py-6">
          <button class="w-full h-full uppercase font-bold text-[22px]">Tìm kiếm</button>
        </div>
      </div>
    </form>
    <!-- LOCATION -->
    <div id="location-modal"
      class="hidden bg-white flex flex-col gap-6 max-w-[960px] p-6 shadow-[0px_8px_30px_rgba(0,0,0,0.15)] absolute left-10 z-9999 text-text-primary">
      <div>
        <p class="text-2xl font-bold">Nhập Mã Sân bay hoặc Tên Thành phố</p>
      </div>
      <div class="flex flex-wrap gap-4 items-center">
        <label class="flex items-center gap-2 rounded-xl border border-[#CAF0F8] px-4 py-2 max-w-[240px]">
          <div>
            <img src="./search/search.svg" alt="" />
          </div>
          <div>
            <p class="text-sm">Tìm kiếm Sân Bay:</p>
            <input type="text" class="w-full outline-none" placeholder="Ví dụ: HAN" />
          </div>
        </label>
        <label class="bg-bg-info bg-primary text-white rounded-lg font-bold px-4 py-2 cursor-pointer">
          <input hidden type="radio" name="typeCity" class="typeCity" value="vietnam" checked /> Việt Nam
        </label>
        <label class="bg-bg-info text-text-primary rounded-lg font-bold px-4 py-2 cursor-pointer">
          <input hidden type="radio" name="typeCity" class="typeCity" value="chaua" /> Châu Á
        </label>
        <label class="bg-bg-info text-text-primary rounded-lg font-bold px-4 py-2 cursor-pointer">
          <input hidden type="radio" name="typeCity" class="typeCity" value="chauau" /> Châu Âu
        </label>
        <label class="bg-bg-info text-text-primary rounded-lg font-bold px-4 py-2 cursor-pointer">
          <input hidden type="radio" name="typeCity" class="typeCity" value="hoaky-canada" /> Hoa Kỳ - Canada
        </label>
        <label class="bg-bg-info text-text-primary rounded-lg font-bold px-4 py-2 cursor-pointer">
          <input hidden type="radio" name="typeCity" class="typeCity" value="chauuc-phi" /> Châu Úc - Phi
        </label>
      </div>
      <div class="shadow-[0px_8px_30px_rgba(0,0,0,0.15)] py-6 px-9 rounded-xl">
        <p class="text-accent text-2xl mb-7">Nội địa - Sân bay tại Việt Nam</p>
        <div class="grid grid-cols-3 gap-8 max-sm:grid-cols-1 max-lg:grid-cols-2">
          <div class="flex gap-1 items-end border-b cursor-pointer border-[#CAF0F8] pb-3 location-option"
            data-cityType="vietnam">
            <p class="font-bold text-[32px] uppercase code">HAN</p>
            <p class="text-xl name">Hà Nội</p>
          </div>
          <div class="flex gap-1 items-end border-b cursor-pointer border-[#CAF0F8] pb-3 location-option"
            data-cityType="vietnam">
            <p class="font-bold text-[32px] uppercase code">SGN</p>
            <p class="text-xl name">Hồ Chí Minh</p>
          </div>
          <div class="flex gap-1 items-end border-b cursor-pointer border-[#CAF0F8] pb-3 location-option"
            data-cityType="vietnam">
            <p class="font-bold text-[32px] uppercase code">DAD</p>
            <p class="text-xl name">Đà Nẵng</p>
          </div>
          <div class="flex gap-1 items-end border-b cursor-pointer border-[#CAF0F8] pb-3 location-option"
            data-cityType="vietnam">
            <p class="font-bold text-[32px] uppercase code">HPH</p>
            <p class="text-xl name">Hải Phòng</p>
          </div>
          <div class="flex gap-1 items-end border-b cursor-pointer border-[#CAF0F8] pb-3 location-option"
            data-cityType="vietnam">
            <p class="font-bold text-[32px] uppercase code">THD</p>
            <p class="text-xl name">Thanh Hóa</p>
          </div>
          <div class="flex gap-1 items-end border-b cursor-pointer border-[#CAF0F8] pb-3 location-option"
            data-cityType="vietnam">
            <p class="font-bold text-[32px] uppercase code">VCA</p>
            <p class="text-xl name">Cần Thơ</p>
          </div>
          <div class="flex gap-1 items-end border-b cursor-pointer border-[#CAF0F8] pb-3 location-option"
            data-cityType="vietnam">
            <p class="font-bold text-[32px] uppercase code">VII</p>
            <p class="text-xl name">Vinh</p>
          </div>
          <div class="flex gap-1 items-end border-b cursor-pointer border-[#CAF0F8] pb-3 location-option"
            data-cityType="vietnam">
            <p class="font-bold text-[32px] uppercase code">VDH</p>
            <p class="text-xl name">Quảng Bình</p>
          </div>
          <div class="flex gap-1 items-end border-b cursor-pointer border-[#CAF0F8] pb-3 location-option"
            data-cityType="vietnam">
            <p class="font-bold text-[32px] uppercase code">CXR</p>
            <p class="text-xl name">Nha Trang</p>
          </div>
          <div class="flex gap-1 items-end border-b cursor-pointer border-[#CAF0F8] pb-3 location-option"
            data-cityType="vietnam">
            <p class="font-bold text-[32px] uppercase code">DLI</p>
            <p class="text-xl name">Đà Lạt</p>
          </div>
          <div class="flex gap-1 items-end border-b cursor-pointer border-[#CAF0F8] pb-3 location-option"
            data-cityType="vietnam">
            <p class="font-bold text-[32px] uppercase code">PXU</p>
            <p class="text-xl name">Pleiku</p>
          </div>
          <div class="flex gap-1 items-end border-b cursor-pointer border-[#CAF0F8] pb-3 location-option"
            data-cityType="vietnam">
            <p class="font-bold text-[32px] uppercase code">TBB</p>
            <p class="text-xl name">Phú Yên</p>
          </div>
          <div class="flex gap-1 items-end border-b cursor-pointer border-[#CAF0F8] pb-3 location-option"
            data-cityType="vietnam">
            <p class="font-bold text-[32px] uppercase code">BMV</p>
            <p class="text-xl name">Ban Mê Thuột</p>
          </div>
          <div class="flex gap-1 items-end border-b cursor-pointer border-[#CAF0F8] pb-3 location-option"
            data-cityType="vietnam">
            <p class="font-bold text-[32px] uppercase code">VKG</p>
            <p class="text-xl name">Kiên Giang</p>
          </div>
          <div class="flex gap-1 items-end border-b cursor-pointer border-[#CAF0F8] pb-3 location-option"
            data-cityType="vietnam">
            <p class="font-bold text-[32px] uppercase code">DIN</p>
            <p class="text-xl name">Điện Biên</p>
          </div>
          <div class="flex gap-1 items-end border-b cursor-pointer border-[#CAF0F8] pb-3 location-option"
            data-cityType="vietnam">
            <p class="font-bold text-[32px] uppercase code">VDO</p>
            <p class="text-xl name">Vân Đồn</p>
          </div>
          <div class="flex gap-1 items-end border-b cursor-pointer border-[#CAF0F8] pb-3 location-option"
            data-cityType="vietnam">
            <p class="font-bold text-[32px] uppercase code">UIH</p>
            <p class="text-xl name">Quy Nhơn</p>
          </div>
          <div class="flex gap-1 items-end border-b cursor-pointer border-[#CAF0F8] pb-3 location-option"
            data-cityType="vietnam">
            <p class="font-bold text-[32px] uppercase code">HUI</p>
            <p class="text-xl name">Huế</p>
          </div>
          <div class="flex gap-1 items-end border-b cursor-pointer border-[#CAF0F8] pb-3 location-option"
            data-cityType="chaua">
            <p class="font-bold text-[32px] uppercase code">PQC</p>
            <p class="text-xl name">Phú Quốc</p>
          </div>
          <div class="flex gap-1 items-end border-b cursor-pointer border-[#CAF0F8] pb-3 location-option"
            data-cityType="chauau">
            <p class="font-bold text-[32px] uppercase code">VCS</p>
            <p class="text-xl name">Côn Đảo</p>
          </div>
        </div>
      </div>
    </div>
    <!-- END LOCATION -->
    <!-- DATE -->
    <div
      class="hidden calendar-wrapper bg-white text-black flex flex-col gap-6 max-w-[960px] max-xl:w-[93%] max-sm:w-[80%] max-lg:w-[90%] w-fit p-5 shadow-[0px_8px_30px_rgba(0,0,0,0.15)] absolute left-10 z-9999 max-sm:p-3"
      id="date-modal">
      <div class="calendar-header">
        <div class="mb-4">
          <p class="text-2xl text-primary max-sm:text-base">Quý khách vui lòng chọn ngày bay</p>
          <p class="text-sm text-[#00ABC0] max-sm:text-xs">
            Ngày bay chiều đi phải được chọn trước ngày về. Ngày về chỉ được trùng với ngày bay đi và ngày bay sau
          </p>
        </div>
        <div class="flex gap-4 items-center">
          <!-- <div class="border border-[#CAF0F8] py-2 px-3 flex-1 rounded-xl">
            <p class="text-sm">Ngày đi</p>
            <p class="text-lg font-bold">20/10/2025</p>
          </div>
          <div class="border border-[#CAF0F8] py-2 px-3 flex-1 rounded-xl">
            <p class="text-sm">Ngày về</p>
            <p class="text-lg font-bold">29/10/2025</p>
          </div> -->
          <div class="flex justify-between flex-2 px-5 max-sm:px-1">
            <div class="flex gap-2 items-center ml-">
              <div class="p-2.5 bg-primary rounded-4xl max-sm:p-1"></div>
              <p class="max-sm:text-xs">Ngày bay đã chọn</p>
            </div>
            <div class="flex gap-2 items-center">
              <div class="p-2.5 bg-[#00ABC0] rounded-4xl max-sm:p-1"></div>
              <p class="max-sm:text-xs">Ngày hiện tại</p>
            </div>
            <div class="flex gap-2 items-center">
              <div class="p-2.5 bg-accent rounded-4xl max-sm:p-1"></div>
              <p class="max-sm:text-xs">Ngày lễ</p>
            </div>
          </div>
        </div>
      </div>
      <div class="relative box-calendar">
        <div class="absolute top-0 right-0 left-0 flex justify-between items-center">
          <button id="prev" class="text-3xl cursor-pointer p-6 max-sm:text-xl">&lt;</button>
          <button id="next" class="text-3xl cursor-pointer p-6 max-sm:text-xl">&gt;</button>
        </div>
        <div id="calendar"></div>
      </div>
      <!-- <div id="range-info" class="selected-range"></div> -->
    </div>
    <!-- END DATE -->
  </div>
</section>