<section class="container mx-auto mt-7.5">
  <div class="bg-primary text-white rounded-2xl p-4 md:p-6 shadow-lg">
    <form class="w-full">
      <div class="flex flex-wrap items-center gap-5">
        <label class="inline-flex items-center gap-2 cursor-pointer">
          <input type="radio" name="trip" class="size-4" checked>
          <span class="text-sm md:text-base">Một chiều</span>
        </label>
        <label class="inline-flex items-center gap-2 cursor-pointer">
          <input type="radio" name="trip" class="size-4">
          <span class="text-sm md:text-base">Khứ hồi</span>
        </label>
        <button type="button" class="flex gap-2">
          <img src="./search/member.svg" alt="Icon member">
          <span>Số lượng hành khách</span>
          <img src="./search/drop-dow.svg" alt="Icon member">
        </button>
      </div>
      <div class="flex justify-between gap-3 my-2">
        <div class="bg-white flex-1 rounded-md p-3 flex justify-between items-center">
          <div>
            <div class="flex gap-2">
              <img src="./search/plane-start.svg" alt="icon plane">
              <span class="text-primary text-sm">Điểm khởi hành</span>
            </div>
            <p class="text-primary text-lg font-bold line-clamp-1">Hà Nội (HAN)</p>
          </div>
          <div class="p-4 border-l border-l-[#D3D9DC]">
            <img src="./search/drop-dow-gray.svg" alt="icon drop dow">
          </div>
        </div>
       <div class="bg-white flex-1 rounded-md p-3 flex justify-between items-center">
          <div>
            <div class="flex gap-2">
              <img src="./search/plane-start.svg" alt="icon plane">
              <span class="text-primary text-sm">Điểm khởi hành</span>
            </div>
            <p class="text-primary text-lg font-bold line-clamp-1">Hồ Chí Minh (SGN)</p>
          </div>
          <div class="p-4 border-l border-l-[#D3D9DC]">
            <img src="./search/drop-dow-gray.svg" alt="icon drop dow">
          </div>
        </div>
       <div class="bg-white flex-1 rounded-md p-3 flex justify-between items-center">
          <div>
            <div class="flex gap-2">
              <img src="./search/calender.svg" alt="icon plane">
              <span class="text-primary text-sm">Ngày đi</span>
            </div>
            <p class="text-primary text-lg font-bold line-clamp-1">20/11/2025</p>
          </div>
          <div class="p-4 border-l border-l-[#D3D9DC]">
            <img src="./search/drop-dow-gray.svg" alt="icon drop dow">
          </div>
        </div>
       <div class="bg-white flex-1 rounded-md p-3 flex justify-between items-center">
          <div>
            <div class="flex gap-2">
              <img src="./search/calender.svg" alt="icon plane">
              <span class="text-primary text-sm">Ngày về</span>
            </div>
            <p class="text-primary text-lg font-bold line-clamp-1">26/11/2025</p>
          </div>
          <div class="p-4 border-l border-l-[#D3D9DC]">
            <img src="./search/drop-dow-gray.svg" alt="icon drop dow">
          </div>
        </div>
      
        <div class="bg-accent flex-1 rounded-md">
          <button class="w-full h-full uppercase font-bold text-[22px]">Tìm kiếm</button>
        </div>
      </div>

    </form>


</section>