<div class="flex gap-6 rounded-xl p-5 shadow-[0px_8px_20px_0px_rgba(0,0,0,0.15)]">
  <div class="relative">
    <img
      class="h-80 w-80 rounded-[10px] object-cover"
      src="https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1470"
      alt="Tour Image"
    />
    <span
      class="absolute top-2 left-2 rounded-xl bg-amber-500 px-2.5 py-1.5 text-sm font-bold text-white"
      >Best Seller</span
    >
  </div>
  <div>
    <div class="flex flex-col">
      <div class="flex flex-col gap-2.5 py-3">
        <p class="text-[#0EBAB5]">Walking Tour</p>
        <p class="text-xl font-semibold uppercase">LONDON TO ROME HIGHLIGHTS</p>
        <div class="flex gap-2">
          <ul class="flex items-center">
            <li><img src="/flight-card/start-none.svg" alt="" /></li>
            <li><img src="/flight-card/start-pick.svg" alt="" /></li>
            <li><img src="/flight-card/start-pick.svg" alt="" /></li>
            <li><img src="/flight-card/start-pick.svg" alt="" /></li>
            <li><img src="/flight-card/start-pick.svg" alt="" /></li>
          </ul>
          <p>(25 người xem)</p>
        </div>
        <p>10-Day Europe Tour to Paris, Lucerne, Venice, Florence and Rome</p>
      </div>
      <div class="line border border-[#ccc]"></div>
      <div>
        <ul class="grid grid-cols-2 gap-2 py-3 max-md:grid-cols-1">
          <li>
            <p>Lịch trình: <strong>10 ngày 9 đêm</strong></p>
          </li>
          <li>
            <p>Quốc gia đến: <strong>5 nước</strong></p>
          </li>
          <li>
            <p>Địa điểm nổi tiếng: <strong>9 điểm</strong></p>
          </li>
          <li>
            <p>Nhà cung cấp: <strong>Sunworld</strong></p>
          </li>
        </ul>
      </div>
      <div class="line border border-[#ccc]"></div>
      <div class="flex items-center justify-between py-3">
        <div>
          <p>Giá chỉ từ</p>
          <p class="text-accent text-2xl font-semibold">3,240,000VNĐ</p>
          <p class="text-sm line-through">3,840,000VND</p>
        </div>
        <div>
          <a
            href=""
            class="rounded-xl bg-[#FF9D00] px-5 py-2 text-sm font-semibold text-white uppercase max-xl:px-3 max-xl:py-1 max-lg:px-5 max-lg:py-1.5"
            >Chi Tiết</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
