<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flight Booking</title>
    <link rel="stylesheet" href="./output.css" />
    <link rel="stylesheet" href="./custom.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="text-text-primary">
    <%- include("layout/header.ejs") %> <%- include("components/form-search.ejs") %>
    <section class="container mx-auto mt-8">
      <div class="header-section flex justify-between gap-4 max-lg:flex-wrap">
        <div>
          <h1 class="text-2xl font-bold">Thông tin Chuyến bay</h1>
          <p class="text-sm text-[#00ABC0]">
            Giá vé chưa bao gồm thuế và các loại phí khác, quý khách lưu ý chọn chi tiết để xem đầy
            đủ.
          </p>
        </div>
      </div>
      <div class="content mt-5 mb-[190px]">
        <div class="grid grid-cols-4 items-start gap-5 max-lg:grid-cols-1">
          <div class="flight-list col-span-3">
            <div class="flex flex-col gap-8">
              <!-- //BOX -->
              <div class="flex flex-col gap-5">
                <div
                  class="plane-items-selected overflow-hidden rounded-xl shadow-[0_8px_20px_rgba(0,0,0,0.15)]"
                >
                  <div
                    class="clicked flex cursor-pointer items-start justify-between bg-[#CAF0F8] px-4 py-1.5 select-none max-lg:flex-wrap"
                  >
                    <div>
                      <p class="text-base font-bold">Chuyến bay chiều đi: Hà Nội đến Luân Đôn</p>
                      <p class="text-base">
                        <span class="max-md:block">Thứ 4, 10 tháng 12</span>
                        <span class="ml-3 max-md:ml-0 max-md:block"
                          >18:55 - 12:05 (2h 30 m , Bay thẳng)</span
                        >
                      </p>
                    </div>
                    <div>
                      <p class="text-sm font-bold max-lg:mt-2">Điều kiện vé &gt;</p>
                    </div>
                  </div>
                  <div class="grid grid-cols-5 p-4 max-lg:grid-cols-2 max-md:block">
                    <div class="flex flex-col gap-4 max-lg:col-span-2 max-lg:mb-5">
                      <div class="flex items-start gap-3">
                        <div>
                          <img src="./flight-list/VietnamAirlines.png" alt="" class="w-10" />
                        </div>
                        <div class="text-sm">
                          <p class="font-bold">Vietnam Airlines</p>
                          <p>VN 617 - A321 Ceo</p>
                        </div>
                      </div>
                      <!-- //// -->
                      <!-- <div class="flex gap-3 items-start">
                      <div>
                        <img src="./flight-list/VietnamAirlines.png" alt="" class="w-10" />
                      </div>
                      <div class="text-sm">
                        <p class="font-bold">Vietnam Airlines</p>
                        <p>EY&nbsp;401 - 787-10</p>
                        <p>EY&nbsp;63 - A380</p>
                      </div>
                    </div> -->
                    </div>
                    <div
                      class="col-span-2 flex items-start justify-center gap-2 max-lg:col-span-1 max-md:mb-5 max-md:justify-start"
                    >
                      <div>
                        <img src="./flight-info/plane-start.svg" alt="" />
                      </div>
                      <div>
                        <div class="text-2xl font-bold">
                          <p>HAN - Nội Bài</p>
                          <p>Sân bay Quốc tế</p>
                        </div>
                        <p class="text-base">Thứ 4, 10/12/2025 - 18:55</p>
                      </div>
                    </div>
                    <div
                      class="col-span-2 flex items-start justify-center gap-2 max-lg:col-span-1 max-md:justify-start"
                    >
                      <div>
                        <img src="./flight-info/plane-start.svg" alt="" />
                      </div>
                      <div>
                        <div class="text-2xl font-bold">
                          <p>LHR - London Heathrow</p>
                          <p>Sân bay Quốc tế</p>
                        </div>
                        <p class="text-base">Thứ 5, 11/12/2025 - 12:05</p>
                      </div>
                    </div>
                  </div>
                  <div
                    class="conditions flex hidden justify-between gap-10 border-t border-dotted border-[#EBA00A] px-10 py-4 max-md:flex-col max-md:gap-5"
                  >
                    <div class="flex gap-1.5">
                      <div><img src="./flight-info/bag.svg" alt="" /></div>
                      <div>
                        <p class="text-base">Thông tin hành lý</p>
                        <ul class="my-1 text-sm">
                          <li>Mỗi hành khách có 07kg hành lý xách tay.</li>
                        </ul>
                        <p class="text-sm text-[#878C93]">( Tổng hành lý đã bao gồm trong giá )</p>
                      </div>
                    </div>
                    <div class="flex gap-1.5">
                      <div><img src="./flight-info/ticket.svg" alt="" /></div>
                      <div>
                        <p class="text-base">Điều kiện vé</p>
                        <ul class="my-1 text-sm">
                          <li>Phí đổi: 360.000 VNĐ/1 khách+chênh lệch giá vé (nếu&nbsp; có).</li>
                          <li>Quầy ưu tiên: Không; Đổi chuyến tại sân bay: Thu phí;</li>
                          <li>Chọn chỗ: Thu phí; Phòng Bông Sen: Không áp dụng.</li>
                        </ul>
                        <p class="text-sm text-[#878C93]">
                          Vé không hoàn tiền. Hoàn bảo lưu mất phí trước 24h.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- //-->
                <div
                  class="plane-items-selected overflow-hidden rounded-xl shadow-[0_8px_20px_rgba(0,0,0,0.15)]"
                >
                  <div
                    class="clicked flex cursor-pointer items-start justify-between bg-[#CAF0F8] px-4 py-1.5 select-none max-lg:flex-wrap"
                  >
                    <div>
                      <p class="text-base font-bold">Chuyến bay chiều đi: Hà Nội đến Luân Đôn</p>
                      <p class="text-base">
                        <span class="max-md:block">Thứ 4, 10 tháng 12</span>
                        <span class="ml-3 max-md:ml-0 max-md:block"
                          >18:55 - 12:05 (2h 30 m , Bay thẳng)</span
                        >
                      </p>
                    </div>
                    <div>
                      <p class="text-sm font-bold max-lg:mt-2">Điều kiện vé &gt;</p>
                    </div>
                  </div>
                  <div class="grid grid-cols-5 p-4 max-lg:grid-cols-2 max-md:block">
                    <div class="flex flex-col gap-4 max-lg:col-span-2 max-lg:mb-5">
                      <div class="flex items-start gap-3">
                        <div>
                          <img src="./flight-list/VietnamAirlines.png" alt="" class="w-10" />
                        </div>
                        <div class="text-sm">
                          <p class="font-bold">Vietnam Airlines</p>
                          <p>VN 617 - A321 Ceo</p>
                        </div>
                      </div>
                      <!-- //// -->
                      <!-- <div class="flex gap-3 items-start">
                      <div>
                        <img src="./flight-list/VietnamAirlines.png" alt="" class="w-10" />
                      </div>
                      <div class="text-sm">
                        <p class="font-bold">Vietnam Airlines</p>
                        <p>EY&nbsp;401 - 787-10</p>
                        <p>EY&nbsp;63 - A380</p>
                      </div>
                    </div> -->
                    </div>
                    <div
                      class="col-span-2 flex items-start justify-center gap-2 max-lg:col-span-1 max-md:mb-5 max-md:justify-start"
                    >
                      <div>
                        <img src="./flight-info/plane-start.svg" alt="" />
                      </div>
                      <div>
                        <div class="text-2xl font-bold">
                          <p>HAN - Nội Bài</p>
                          <p>Sân bay Quốc tế</p>
                        </div>
                        <p class="text-base">Thứ 4, 10/12/2025 - 18:55</p>
                      </div>
                    </div>
                    <div
                      class="col-span-2 flex items-start justify-center gap-2 max-lg:col-span-1 max-md:justify-start"
                    >
                      <div>
                        <img src="./flight-info/plane-start.svg" alt="" />
                      </div>
                      <div>
                        <div class="text-2xl font-bold">
                          <p>LHR - London Heathrow</p>
                          <p>Sân bay Quốc tế</p>
                        </div>
                        <p class="text-base">Thứ 5, 11/12/2025 - 12:05</p>
                      </div>
                    </div>
                  </div>
                  <div
                    class="conditions flex hidden justify-between gap-10 border-t border-dotted border-[#EBA00A] px-10 py-4 max-md:flex-col max-md:gap-5"
                  >
                    <div class="flex gap-1.5">
                      <div><img src="./flight-info/bag.svg" alt="" /></div>
                      <div>
                        <p class="text-base">Thông tin hành lý</p>
                        <ul class="my-1 text-sm">
                          <li>Mỗi hành khách có 07kg hành lý xách tay.</li>
                        </ul>
                        <p class="text-sm text-[#878C93]">( Tổng hành lý đã bao gồm trong giá )</p>
                      </div>
                    </div>
                    <div class="flex gap-1.5">
                      <div><img src="./flight-info/ticket.svg" alt="" /></div>
                      <div>
                        <p class="text-base">Điều kiện vé</p>
                        <ul class="my-1 text-sm">
                          <li>Phí đổi: 360.000 VNĐ/1 khách+chênh lệch giá vé (nếu&nbsp; có).</li>
                          <li>Quầy ưu tiên: Không; Đổi chuyến tại sân bay: Thu phí;</li>
                          <li>Chọn chỗ: Thu phí; Phòng Bông Sen: Không áp dụng.</li>
                        </ul>
                        <p class="text-sm text-[#878C93]">
                          Vé không hoàn tiền. Hoàn bảo lưu mất phí trước 24h.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- //END BOX -->
              <!-- //Start BOX -->
              <div class="rounded-xl px-5 pt-4 pb-12 shadow-[0_8px_20px_rgba(0,0,0,0.15)]">
                <div class="mb-3">
                  <h2 class="text-2xl font-bold">Chọn Hành lý</h2>
                </div>
                <div class="grid grid-cols-2 gap-6 max-sm:grid-cols-1">
                  <div class="flex flex-col gap-4">
                    <div>
                      <p class="text-accent font-bold">Hành lý ký gửi chiều về:</p>
                      <p class="text-sm">Mỗi hành khách có tối đa 10kg hành lý xách tay</p>
                    </div>
                    <div class="flex flex-col gap-8">
                      <div
                        class="flex items-center justify-between rounded-xl border border-[#B3B0D8] px-3.5 py-2.5 text-sm"
                      >
                        <div>
                          <p>Hành khách 1:</p>
                          <p class="font-bold">Mua thêm 10kg hành lý</p>
                        </div>
                        <div class="flex h-full items-center border-l border-[#B3B0D8] pl-3">
                          <img src="./flight-info/drop-dow.svg" alt="" />
                        </div>
                      </div>
                      <div
                        class="flex items-center justify-between rounded-xl border border-[#B3B0D8] px-3.5 py-2.5 text-sm"
                      >
                        <div>
                          <p>Hành khách 1:</p>
                          <p class="font-bold">Mua thêm 10kg hành lý</p>
                        </div>
                        <div class="flex h-full items-center border-l border-[#B3B0D8] pl-3">
                          <img src="./flight-info/drop-dow.svg" alt="" />
                        </div>
                      </div>
                      <div
                        class="flex items-center justify-between rounded-xl border border-[#B3B0D8] px-3.5 py-2.5 text-sm"
                      >
                        <div>
                          <p>Hành khách 1:</p>
                          <p class="font-bold">Mua thêm 10kg hành lý</p>
                        </div>
                        <div class="flex h-full items-center border-l border-[#B3B0D8] pl-3">
                          <img src="./flight-info/drop-dow.svg" alt="" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-col gap-4">
                    <div>
                      <p class="text-accent font-bold">Hành lý ký gửi chiều về:</p>
                      <p class="text-sm">Mỗi hành khách có tối đa 10kg hành lý xách tay</p>
                    </div>
                    <div class="flex flex-col gap-8">
                      <div
                        class="flex items-center justify-between rounded-xl border border-[#B3B0D8] px-3.5 py-2.5 text-sm"
                      >
                        <div>
                          <p>Hành khách 1:</p>
                          <p class="font-bold">Mua thêm 10kg hành lý</p>
                        </div>
                        <div class="flex h-full items-center border-l border-[#B3B0D8] pl-3">
                          <img src="./flight-info/drop-dow.svg" alt="" />
                        </div>
                      </div>
                      <div
                        class="flex items-center justify-between rounded-xl border border-[#B3B0D8] px-3.5 py-2.5 text-sm"
                      >
                        <div>
                          <p>Hành khách 1:</p>
                          <p class="font-bold">Mua thêm 10kg hành lý</p>
                        </div>
                        <div class="flex h-full items-center border-l border-[#B3B0D8] pl-3">
                          <img src="./flight-info/drop-dow.svg" alt="" />
                        </div>
                      </div>
                      <div
                        class="flex items-center justify-between rounded-xl border border-[#B3B0D8] px-3.5 py-2.5 text-sm"
                      >
                        <div>
                          <p>Hành khách 1:</p>
                          <p class="font-bold">Mua thêm 10kg hành lý</p>
                        </div>
                        <div class="flex h-full items-center border-l border-[#B3B0D8] pl-3">
                          <img src="./flight-info/drop-dow.svg" alt="" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- //END BOX -->
              <!-- //Start BOX -->
              <div class="rounded-xl px-5 pt-4 pb-12 shadow-[0_8px_20px_rgba(0,0,0,0.15)]">
                <div class="mb-3">
                  <h2 class="text-2xl font-bold">Chọn xuất ăn</h2>
                </div>
                <div class="grid grid-cols-2 gap-6 max-sm:grid-cols-1">
                  <div class="flex flex-col gap-4">
                    <div>
                      <p class="text-accent font-bold">Suất ăn chiều đi:</p>
                      <p class="text-sm">Hãy chọn suất ăn yêu thích của bạn</p>
                    </div>
                    <div class="flex flex-col gap-8">
                      <div
                        class="flex items-center justify-between rounded-xl border border-[#B3B0D8] px-3.5 py-2.5 text-sm"
                      >
                        <div>
                          <p>Hành khách 1:</p>
                          <p class="font-bold">Mua thêm 10kg hành lý</p>
                        </div>
                        <div class="flex h-full items-center border-l border-[#B3B0D8] pl-3">
                          <img src="./flight-info/drop-dow.svg" alt="" />
                        </div>
                      </div>
                      <div
                        class="flex items-center justify-between rounded-xl border border-[#B3B0D8] px-3.5 py-2.5 text-sm"
                      >
                        <div>
                          <p>Hành khách 1:</p>
                          <p class="font-bold">Mua thêm 10kg hành lý</p>
                        </div>
                        <div class="flex h-full items-center border-l border-[#B3B0D8] pl-3">
                          <img src="./flight-info/drop-dow.svg" alt="" />
                        </div>
                      </div>
                      <div
                        class="flex items-center justify-between rounded-xl border border-[#B3B0D8] px-3.5 py-2.5 text-sm"
                      >
                        <div>
                          <p>Hành khách 1:</p>
                          <p class="font-bold">Mua thêm 10kg hành lý</p>
                        </div>
                        <div class="flex h-full items-center border-l border-[#B3B0D8] pl-3">
                          <img src="./flight-info/drop-dow.svg" alt="" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-col gap-4">
                    <div>
                      <p class="text-accent font-bold">Suất ăn chiều về:</p>
                      <p class="text-sm">Hãy chọn suất ăn yêu thích của bạn</p>
                    </div>
                    <div class="flex flex-col gap-8">
                      <div
                        class="flex items-center justify-between rounded-xl border border-[#B3B0D8] px-3.5 py-2.5 text-sm"
                      >
                        <div>
                          <p>Hành khách 1:</p>
                          <p class="font-bold">Mỳ ý sốt bò bằm</p>
                        </div>
                        <div class="flex h-full items-center border-l border-[#B3B0D8] pl-3">
                          <img src="./flight-info/drop-dow.svg" alt="" />
                        </div>
                      </div>
                      <div
                        class="flex items-center justify-between rounded-xl border border-[#B3B0D8] px-3.5 py-2.5 text-sm"
                      >
                        <div>
                          <p>Hành khách 1:</p>
                          <p class="line-clamp-1 font-bold">
                            Miến xào bò, Mỳ ý sốt bò bằm, nước Lavie, bò bằm, nước Lavie,
                          </p>
                        </div>
                        <div class="flex h-full items-center border-l border-[#B3B0D8] pl-3">
                          <img src="./flight-info/drop-dow.svg" alt="" />
                        </div>
                      </div>
                      <div
                        class="flex items-center justify-between rounded-xl border border-[#B3B0D8] px-3.5 py-2.5 text-sm"
                      >
                        <div>
                          <p>Hành khách 1:</p>
                          <p class="line-clamp-1 font-bold">Mua thêm 10kg hành lý</p>
                        </div>
                        <div class="flex h-full items-center border-l border-[#B3B0D8] pl-3">
                          <img src="./flight-info/drop-dow.svg" alt="" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- //END BOX -->
              <!-- //Start BOX -->
              <div class="rounded-xl px-5 pt-4 pb-12 shadow-[0_8px_20px_rgba(0,0,0,0.15)]">
                <div class="mb-3">
                  <h2 class="text-2xl font-bold">Chọn Chỗ ngồi</h2>
                </div>
                <div class="grid grid-cols-2 gap-6">
                  <div class="flex flex-col gap-4">
                    <div>
                      <p class="text-accent font-bold">Chỗ ngồi chiều đi:</p>
                      <p class="text-sm">Có nhiều mức giá ghế khác nhau để quý khách lựa chọn</p>
                    </div>
                    <div class="flex flex-col gap-8">
                      <div
                        class="flex items-center justify-between rounded-xl border border-[#B3B0D8] px-3.5 py-2.5 text-sm"
                      >
                        <div>
                          <p>Hành khách 1:</p>
                          <p class="line-clamp-1 font-bold">4-C</p>
                        </div>
                        <div class="flex h-full items-center border-l border-[#B3B0D8] pl-3">
                          <img src="./flight-info/drop-dow.svg" alt="" />
                        </div>
                      </div>
                      <div
                        class="flex items-center justify-between rounded-xl border border-[#B3B0D8] px-3.5 py-2.5 text-sm"
                      >
                        <div>
                          <p>Hành khách 1:</p>
                          <p class="line-clamp-1 font-bold">4-C</p>
                        </div>
                        <div class="flex h-full items-center border-l border-[#B3B0D8] pl-3">
                          <img src="./flight-info/drop-dow.svg" alt="" />
                        </div>
                      </div>
                      <div
                        class="flex items-center justify-between rounded-xl border border-[#B3B0D8] px-3.5 py-2.5 text-sm"
                      >
                        <div>
                          <p>Hành khách 1:</p>
                          <p class="line-clamp-1 font-bold">4-C</p>
                        </div>
                        <div class="flex h-full items-center border-l border-[#B3B0D8] pl-3">
                          <img src="./flight-info/drop-dow.svg" alt="" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-col gap-4">
                    <div>
                      <p class="text-accent font-bold">Chỗ ngồi chiều về:</p>
                      <p class="text-sm">Có nhiều mức giá ghế khác nhau để quý khách lựa chọn</p>
                    </div>
                    <div class="flex flex-col gap-8">
                      <div
                        class="flex items-center justify-between rounded-xl border border-[#B3B0D8] px-3.5 py-2.5 text-sm"
                      >
                        <div>
                          <p>Hành khách 1:</p>
                          <p class="line-clamp-1 font-bold">4-C</p>
                        </div>
                        <div class="flex h-full items-center border-l border-[#B3B0D8] pl-3">
                          <img src="./flight-info/drop-dow.svg" alt="" />
                        </div>
                      </div>
                      <div
                        class="flex items-center justify-between rounded-xl border border-[#B3B0D8] px-3.5 py-2.5 text-sm"
                      >
                        <div>
                          <p>Hành khách 1:</p>
                          <p class="line-clamp-1 font-bold">4-C</p>
                        </div>
                        <div class="flex h-full items-center border-l border-[#B3B0D8] pl-3">
                          <img src="./flight-info/drop-dow.svg" alt="" />
                        </div>
                      </div>
                      <div
                        class="flex items-center justify-between rounded-xl border border-[#B3B0D8] px-3.5 py-2.5 text-sm"
                      >
                        <div>
                          <p>Hành khách 1:</p>
                          <p class="line-clamp-1 font-bold">4-C</p>
                        </div>
                        <div class="flex h-full items-center border-l border-[#B3B0D8] pl-3">
                          <img src="./flight-info/drop-dow.svg" alt="" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- //END BOX -->
            </div>
          </div>

          <!-- CHI TIÊT -->
          <div
            class="box-sha col-span-1 rounded-xl shadow-[0_0_18px_rgba(0,0,0,0.15)] filter max-lg:col-span-3"
          >
            <!-- // -->
            <div class="head mb-2 flex items-center justify-between px-3.5 py-2">
              <p class="text-base font-bold">CHI TIẾT GIÁ</p>
              <div>
                <svg
                  width="16"
                  height="9"
                  viewBox="0 0 16 9"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M14.75 0.75L7.75 7.75L0.75 0.75"
                    stroke="#020035"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </div>
            <!-- // -->
            <!-- // -->
            <div
              class="head bg-primary flex items-center justify-between rounded-t-xl p-3.5 text-white"
            >
              <p class="text-base font-bold">Chuyến đi</p>
              <p class="text-base font-bold">1,803,800 VND</p>
            </div>
            <!-- // -->
            <!-- // -->
            <div class="head bg-bg-info flex items-center justify-between p-3.5">
              <p class="text-base font-bold">Giá vé người lớn</p>
              <p class="text-base font-bold">1,220,400 VND</p>
            </div>
            <!-- // -->
            <!-- // -->
            <div class="head p-3.5">
              <div class="flex items-center justify-between text-xs">
                <p>Người lớn x 1</p>
                <p>1,130,000 VND</p>
              </div>
              <div class="flex items-center justify-between text-xs">
                <p>Thuế và phí x 1</p>
                <p>90,400 VND</p>
              </div>
            </div>
            <!-- // -->
            <!-- // -->
            <div class="head bg-bg-info flex items-center justify-between p-3.5">
              <p class="text-base font-bold">Giá vé trẻ em</p>
              <p class="text-base font-bold">1,803,800 VND</p>
            </div>
            <!-- // -->
            <!-- // -->
            <div class="head p-3.5">
              <div class="flex items-center justify-between text-xs">
                <p>Trẻ em x 1</p>
                <p>1,130,000 VND</p>
              </div>
              <div class="flex items-center justify-between text-xs">
                <p>Thuế và phí x 1</p>
                <p>90,400 VND</p>
              </div>
            </div>
            <!-- // -->
            <!-- // -->
            <div class="head bg-bg-info flex items-center justify-between p-3.5">
              <p class="text-base font-bold">Giá vé em bé</p>
              <p class="text-base font-bold">1,803,800 VND</p>
            </div>
            <!-- // -->
            <!-- // -->
            <div class="head p-3.5">
              <div class="flex items-center justify-between text-xs">
                <p>Em bé x 1</p>
                <p>1,130,000 VND</p>
              </div>
              <div class="flex items-center justify-between text-xs">
                <p>Thuế và phí x 1</p>
                <p>90,400 VND</p>
              </div>
            </div>
            <!-- // -->
            <!-- // -->
            <div class="head bg-bg-info flex items-center justify-between p-3.5">
              <p class="text-base font-bold">Dịch vụ bổ trợ</p>
              <p class="text-base font-bold">1,803,800 VND</p>
            </div>
            <!-- // -->
            <!-- // -->
            <div class="head p-3.5">
              <div class="flex items-center justify-between text-xs">
                <p>Người lớn x 1</p>
                <p>1,130,000 VND</p>
              </div>
              <div class="flex items-center justify-between text-xs">
                <p>Thuế và phí x 1</p>
                <p>90,400 VND</p>
              </div>
              <div class="my-2 border border-dotted"></div>
              <div class="flex items-center justify-between text-xs">
                <p>Người lớn x 1</p>
                <p>1,130,000 VND</p>
              </div>
              <div class="flex items-center justify-between text-xs">
                <p>Thuế và phí x 1</p>
                <p>90,400 VND</p>
              </div>
            </div>
            <!-- // -->
            <!-- // -->
            <div class="head bg-primary flex items-center justify-between p-3.5 text-white">
              <p class="text-base font-bold">Chuyến về</p>
              <p class="text-base font-bold">1,803,800 VND</p>
            </div>
            <!-- // -->
            <!-- // -->
            <div class="head bg-bg-info flex items-center justify-between p-3.5">
              <p class="text-base font-bold">Giá vé người lớn</p>
              <p class="text-base font-bold">1,220,400 VND</p>
            </div>
            <!-- // -->
            <!-- // -->
            <div class="head p-3.5">
              <div class="flex items-center justify-between text-xs">
                <p>Người lớn x 1</p>
                <p>1,130,000 VND</p>
              </div>
              <div class="flex items-center justify-between text-xs">
                <p>Thuế và phí x 1</p>
                <p>90,400 VND</p>
              </div>
            </div>
            <!-- // -->
            <!-- // -->
            <div class="head bg-bg-info flex items-center justify-between p-3.5">
              <p class="text-base font-bold">Giá vé trẻ em</p>
              <p class="text-base font-bold">1,803,800 VND</p>
            </div>
            <!-- // -->
            <!-- // -->
            <div class="head p-3.5">
              <div class="flex items-center justify-between text-xs">
                <p>Trẻ em x 1</p>
                <p>1,130,000 VND</p>
              </div>
              <div class="flex items-center justify-between text-xs">
                <p>Thuế và phí x 1</p>
                <p>90,400 VND</p>
              </div>
            </div>
            <!-- // -->
            <!-- // -->
            <div class="head bg-bg-info flex items-center justify-between p-3.5">
              <p class="text-base font-bold">Giá vé em bé</p>
              <p class="text-base font-bold">1,803,800 VND</p>
            </div>
            <!-- // -->
            <!-- // -->
            <div class="head p-3.5">
              <div class="flex items-center justify-between text-xs">
                <p>Em bé x 1</p>
                <p>1,130,000 VND</p>
              </div>
              <div class="flex items-center justify-between text-xs">
                <p>Thuế và phí x 1</p>
                <p>90,400 VND</p>
              </div>
            </div>
            <!-- // -->
            <!-- // -->
            <div class="head bg-bg-info flex items-center justify-between p-3.5">
              <p class="text-base font-bold">Dịch vụ bổ trợ</p>
              <p class="text-base font-bold">1,803,800 VND</p>
            </div>
            <!-- // -->
            <!-- // -->
            <div class="head p-3.5">
              <div class="flex items-center justify-between text-xs">
                <p>Người lớn x 1</p>
                <p>1,130,000 VND</p>
              </div>
              <div class="flex items-center justify-between text-xs">
                <p>Thuế và phí x 1</p>
                <p>90,400 VND</p>
              </div>
              <div class="my-2 border border-dotted"></div>
              <div class="flex items-center justify-between text-xs">
                <p>Người lớn x 1</p>
                <p>1,130,000 VND</p>
              </div>
              <div class="flex items-center justify-between text-xs">
                <p>Thuế và phí x 1</p>
                <p>90,400 VND</p>
              </div>
            </div>
            <!-- // -->
            <!-- // -->
            <div class="bg-bg-info p-3.5">
              <label
                class="flex inline-block cursor-pointer flex-col items-center rounded-xl border border-[#B3B0D8] bg-white px-7 py-3 font-bold"
              >
                <p>Mã Khuyến mại:</p>
                <input type="text" class="uppercase outline-none" placeholder="Ví dụ: VMBSALE100" />
              </label>
            </div>
            <!-- // -->
            <!-- // -->
            <div class="bg-primary p-3.5 text-white">
              <label class="flex cursor-pointer items-start justify-between text-sm">
                <input type="checkbox" class="mt-1.5 mr-2" />
                <p>
                  Tôi đã đọc, hiểu và đồng ý với các điều khoản của hãng hàng không, các thông tin
                  đặt vé đã chính xác và tôi không có thắc mắc gì.
                </p>
              </label>
            </div>
            <!-- // -->
            <div class="p-3.5">
              <p class="text-xl">Tổng tiền:</p>
              <div class="mt-3 flex flex-col items-center justify-between gap-3">
                <p class="text-accent text-2xl font-extrabold">3,607,600 VND</p>
                <button
                  class="bg-accent rounded-tl-3xl rounded-br-3xl px-8 py-3 text-xl font-bold text-white"
                >
                  Thanh toán
                </button>
              </div>
            </div>
            <!-- // -->
          </div>
          <!-- CHI TIÊT -->
        </div>
      </div>
    </section>
    <script>
      const planeItemsSelected = document.querySelectorAll(".plane-items-selected");
      planeItemsSelected.forEach((planeItemSelected) => {
        planeItemSelected.querySelector(".clicked").addEventListener("click", () => {
          planeItemSelected.querySelector(".conditions").classList.toggle("hidden");
        });
      });
    </script>
    <%- include("layout/footer.ejs") %>
  </body>
</html>
