<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flight Booking</title>
    <link rel="stylesheet" href="./output.css" />
    <link rel="stylesheet" href="./custom.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="text-text-primary">
    <%- include("layout/header.ejs") %> <%- include("components/form-search.ejs") %>
    <section class="container mx-auto mt-8">
      <div class="header-section flex justify-between gap-4 max-lg:flex-wrap">
        <div>
          <h1 class="text-2xl font-bold">Thông tin Chuyến bay</h1>
          <p class="text-sm text-[#00ABC0]">
            Giá vé chưa bao gồm thuế và các loại phí khác, quý khách lưu ý chọn chi tiết để xem đầy
            đủ.
          </p>
        </div>
      </div>
      <div class="content mt-5 mb-[190px]">
        <div class="grid grid-cols-4 items-start gap-5 max-lg:grid-cols-1">
          <div class="flight-list col-span-3">
            <div class="flex flex-col gap-8">
              <!-- //BOX -->
              <div class="flex flex-col gap-5">
                <div
                  class="plane-items-selected overflow-hidden rounded-xl shadow-[0_8px_20px_rgba(0,0,0,0.15)]"
                >
                  <div
                    class="clicked flex cursor-pointer items-start justify-between bg-[#CAF0F8] px-4 py-1.5 select-none max-lg:flex-wrap"
                  >
                    <div>
                      <p class="text-base font-bold">Chuyến bay chiều đi: Hà Nội đến Luân Đôn</p>
                      <p class="text-base">
                        <span class="max-md:block">Thứ 4, 10 tháng 12</span>
                        <span class="ml-3 max-md:ml-0 max-md:block"
                          >18:55 - 12:05 (2h 30 m , Bay thẳng)</span
                        >
                      </p>
                    </div>
                    <div>
                      <p class="text-sm font-bold max-lg:mt-2">Điều kiện vé &gt;</p>
                    </div>
                  </div>
                  <div class="grid grid-cols-5 p-4 max-lg:grid-cols-2 max-md:block">
                    <div class="flex flex-col gap-4 max-lg:col-span-2 max-lg:mb-5">
                      <div class="flex items-start gap-3">
                        <div>
                          <img src="./flight-list/VietnamAirlines.png" alt="" class="w-10" />
                        </div>
                        <div class="text-sm">
                          <p class="font-bold">Vietnam Airlines</p>
                          <p>VN 617 - A321 Ceo</p>
                        </div>
                      </div>
                      <!-- //// -->
                      <!-- <div class="flex gap-3 items-start">
                      <div>
                        <img src="./flight-list/VietnamAirlines.png" alt="" class="w-10" />
                      </div>
                      <div class="text-sm">
                        <p class="font-bold">Vietnam Airlines</p>
                        <p>EY&nbsp;401 - 787-10</p>
                        <p>EY&nbsp;63 - A380</p>
                      </div>
                    </div> -->
                    </div>
                    <div
                      class="col-span-2 flex items-start justify-center gap-2 max-lg:col-span-1 max-md:mb-5 max-md:justify-start"
                    >
                      <div>
                        <img src="./flight-info/plane-start.svg" alt="" />
                      </div>
                      <div>
                        <div class="text-2xl font-bold">
                          <p>HAN - Nội Bài</p>
                          <p>Sân bay Quốc tế</p>
                        </div>
                        <p class="text-base">Thứ 4, 10/12/2025 - 18:55</p>
                      </div>
                    </div>
                    <div
                      class="col-span-2 flex items-start justify-center gap-2 max-lg:col-span-1 max-md:justify-start"
                    >
                      <div>
                        <img src="./flight-info/plane-start.svg" alt="" />
                      </div>
                      <div>
                        <div class="text-2xl font-bold">
                          <p>LHR - London Heathrow</p>
                          <p>Sân bay Quốc tế</p>
                        </div>
                        <p class="text-base">Thứ 5, 11/12/2025 - 12:05</p>
                      </div>
                    </div>
                  </div>
                  <div
                    class="conditions flex hidden justify-between gap-10 border-t border-dotted border-[#EBA00A] px-10 py-4 max-md:flex-col max-md:gap-5"
                  >
                    <div class="flex gap-1.5">
                      <div><img src="./flight-info/bag.svg" alt="" /></div>
                      <div>
                        <p class="text-base">Thông tin hành lý</p>
                        <ul class="my-1 text-sm">
                          <li>Mỗi hành khách có 07kg hành lý xách tay.</li>
                        </ul>
                        <p class="text-sm text-[#878C93]">( Tổng hành lý đã bao gồm trong giá )</p>
                      </div>
                    </div>
                    <div class="flex gap-1.5">
                      <div><img src="./flight-info/ticket.svg" alt="" /></div>
                      <div>
                        <p class="text-base">Điều kiện vé</p>
                        <ul class="my-1 text-sm">
                          <li>Phí đổi: 360.000 VNĐ/1 khách+chênh lệch giá vé (nếu&nbsp; có).</li>
                          <li>Quầy ưu tiên: Không; Đổi chuyến tại sân bay: Thu phí;</li>
                          <li>Chọn chỗ: Thu phí; Phòng Bông Sen: Không áp dụng.</li>
                        </ul>
                        <p class="text-sm text-[#878C93]">
                          Vé không hoàn tiền. Hoàn bảo lưu mất phí trước 24h.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- //-->
                <div
                  class="plane-items-selected overflow-hidden rounded-xl shadow-[0_8px_20px_rgba(0,0,0,0.15)]"
                >
                  <div
                    class="clicked flex cursor-pointer items-start justify-between bg-[#CAF0F8] px-4 py-1.5 select-none max-lg:flex-wrap"
                  >
                    <div>
                      <p class="text-base font-bold">Chuyến bay chiều đi: Hà Nội đến Luân Đôn</p>
                      <p class="text-base">
                        <span class="max-md:block">Thứ 4, 10 tháng 12</span>
                        <span class="ml-3 max-md:ml-0 max-md:block"
                          >18:55 - 12:05 (2h 30 m , Bay thẳng)</span
                        >
                      </p>
                    </div>
                    <div>
                      <p class="text-sm font-bold max-lg:mt-2">Điều kiện vé &gt;</p>
                    </div>
                  </div>
                  <div class="grid grid-cols-5 p-4 max-lg:grid-cols-2 max-md:block">
                    <div class="flex flex-col gap-4 max-lg:col-span-2 max-lg:mb-5">
                      <div class="flex items-start gap-3">
                        <div>
                          <img src="./flight-list/VietnamAirlines.png" alt="" class="w-10" />
                        </div>
                        <div class="text-sm">
                          <p class="font-bold">Vietnam Airlines</p>
                          <p>VN 617 - A321 Ceo</p>
                        </div>
                      </div>
                      <!-- //// -->
                      <!-- <div class="flex gap-3 items-start">
                      <div>
                        <img src="./flight-list/VietnamAirlines.png" alt="" class="w-10" />
                      </div>
                      <div class="text-sm">
                        <p class="font-bold">Vietnam Airlines</p>
                        <p>EY&nbsp;401 - 787-10</p>
                        <p>EY&nbsp;63 - A380</p>
                      </div>
                    </div> -->
                    </div>
                    <div
                      class="col-span-2 flex items-start justify-center gap-2 max-lg:col-span-1 max-md:mb-5 max-md:justify-start"
                    >
                      <div>
                        <img src="./flight-info/plane-start.svg" alt="" />
                      </div>
                      <div>
                        <div class="text-2xl font-bold">
                          <p>HAN - Nội Bài</p>
                          <p>Sân bay Quốc tế</p>
                        </div>
                        <p class="text-base">Thứ 4, 10/12/2025 - 18:55</p>
                      </div>
                    </div>
                    <div
                      class="col-span-2 flex items-start justify-center gap-2 max-lg:col-span-1 max-md:justify-start"
                    >
                      <div>
                        <img src="./flight-info/plane-start.svg" alt="" />
                      </div>
                      <div>
                        <div class="text-2xl font-bold">
                          <p>LHR - London Heathrow</p>
                          <p>Sân bay Quốc tế</p>
                        </div>
                        <p class="text-base">Thứ 5, 11/12/2025 - 12:05</p>
                      </div>
                    </div>
                  </div>
                  <div
                    class="conditions flex hidden justify-between gap-10 border-t border-dotted border-[#EBA00A] px-10 py-4 max-md:flex-col max-md:gap-5"
                  >
                    <div class="flex gap-1.5">
                      <div><img src="./flight-info/bag.svg" alt="" /></div>
                      <div>
                        <p class="text-base">Thông tin hành lý</p>
                        <ul class="my-1 text-sm">
                          <li>Mỗi hành khách có 07kg hành lý xách tay.</li>
                        </ul>
                        <p class="text-sm text-[#878C93]">( Tổng hành lý đã bao gồm trong giá )</p>
                      </div>
                    </div>
                    <div class="flex gap-1.5">
                      <div><img src="./flight-info/ticket.svg" alt="" /></div>
                      <div>
                        <p class="text-base">Điều kiện vé</p>
                        <ul class="my-1 text-sm">
                          <li>Phí đổi: 360.000 VNĐ/1 khách+chênh lệch giá vé (nếu&nbsp; có).</li>
                          <li>Quầy ưu tiên: Không; Đổi chuyến tại sân bay: Thu phí;</li>
                          <li>Chọn chỗ: Thu phí; Phòng Bông Sen: Không áp dụng.</li>
                        </ul>
                        <p class="text-sm text-[#878C93]">
                          Vé không hoàn tiền. Hoàn bảo lưu mất phí trước 24h.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- //END BOX -->
              <!-- //Start BOX -->
              <div class="rounded-xl px-5 pt-4 pb-12 shadow-[0_8px_20px_rgba(0,0,0,0.15)]">
                <div class="mb-3">
                  <h2 class="text-2xl font-bold">Chọn Hành lý</h2>
                </div>
                <div class="grid grid-cols-2 gap-6 max-sm:grid-cols-1">
                  <div class="flex flex-col gap-4">
                    <div>
                      <p class="text-accent font-bold">Hành lý ký gửi chiều về:</p>
                      <p class="text-sm">Mỗi hành khách có tối đa 10kg hành lý xách tay</p>
                    </div>
                    <div class="flex flex-col gap-8">
                      <div
                        class="flex items-center justify-between rounded-xl border border-[#B3B0D8] px-3.5 py-2.5 text-sm"
                      >
                        <div>
                          <p>Hành khách 1:</p>
                          <p class="font-bold">Mua thêm 10kg hành lý</p>
                        </div>
                        <div class="flex h-full items-center border-l border-[#B3B0D8] pl-3">
                          <img src="./flight-info/drop-dow.svg" alt="" />
                        </div>
                      </div>
                      <div
                        class="flex items-center justify-between rounded-xl border border-[#B3B0D8] px-3.5 py-2.5 text-sm"
                      >
                        <div>
                          <p>Hành khách 1:</p>
                          <p class="font-bold">Mua thêm 10kg hành lý</p>
                        </div>
                        <div class="flex h-full items-center border-l border-[#B3B0D8] pl-3">
                          <img src="./flight-info/drop-dow.svg" alt="" />
                        </div>
                      </div>
                      <div
                        class="flex items-center justify-between rounded-xl border border-[#B3B0D8] px-3.5 py-2.5 text-sm"
                      >
                        <div>
                          <p>Hành khách 1:</p>
                          <p class="font-bold">Mua thêm 10kg hành lý</p>
                        </div>
                        <div class="flex h-full items-center border-l border-[#B3B0D8] pl-3">
                          <img src="./flight-info/drop-dow.svg" alt="" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-col gap-4">
                    <div>
                      <p class="text-accent font-bold">Hành lý ký gửi chiều về:</p>
                      <p class="text-sm">Mỗi hành khách có tối đa 10kg hành lý xách tay</p>
                    </div>
                    <div class="flex flex-col gap-8">
                      <div
                        class="flex items-center justify-between rounded-xl border border-[#B3B0D8] px-3.5 py-2.5 text-sm"
                      >
                        <div>
                          <p>Hành khách 1:</p>
                          <p class="font-bold">Mua thêm 10kg hành lý</p>
                        </div>
                        <div class="flex h-full items-center border-l border-[#B3B0D8] pl-3">
                          <img src="./flight-info/drop-dow.svg" alt="" />
                        </div>
                      </div>
                      <div
                        class="flex items-center justify-between rounded-xl border border-[#B3B0D8] px-3.5 py-2.5 text-sm"
                      >
                        <div>
                          <p>Hành khách 1:</p>
                          <p class="font-bold">Mua thêm 10kg hành lý</p>
                        </div>
                        <div class="flex h-full items-center border-l border-[#B3B0D8] pl-3">
                          <img src="./flight-info/drop-dow.svg" alt="" />
                        </div>
                      </div>
                      <div
                        class="flex items-center justify-between rounded-xl border border-[#B3B0D8] px-3.5 py-2.5 text-sm"
                      >
                        <div>
                          <p>Hành khách 1:</p>
                          <p class="font-bold">Mua thêm 10kg hành lý</p>
                        </div>
                        <div class="flex h-full items-center border-l border-[#B3B0D8] pl-3">
                          <img src="./flight-info/drop-dow.svg" alt="" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- //END BOX -->
              <!-- //Start BOX -->
              <div class="rounded-xl px-5 pt-4 pb-12 shadow-[0_8px_20px_rgba(0,0,0,0.15)]">
                <div class="mb-3">
                  <h2 class="text-2xl font-bold">Chọn xuất ăn</h2>
                </div>
                <div class="grid grid-cols-2 gap-6 max-sm:grid-cols-1">
                  <div class="flex flex-col gap-4">
                    <div>
                      <p class="text-accent font-bold">Suất ăn chiều đi:</p>
                      <p class="text-sm">Hãy chọn suất ăn yêu thích của bạn</p>
                    </div>
                    <div class="flex flex-col gap-8">
                      <div
                        class="flex items-center justify-between rounded-xl border border-[#B3B0D8] px-3.5 py-2.5 text-sm"
                      >
                        <div>
                          <p>Hành khách 1:</p>
                          <p class="font-bold">Mua thêm 10kg hành lý</p>
                        </div>
                        <div class="flex h-full items-center border-l border-[#B3B0D8] pl-3">
                          <img src="./flight-info/drop-dow.svg" alt="" />
                        </div>
                      </div>
                      <div
                        class="flex items-center justify-between rounded-xl border border-[#B3B0D8] px-3.5 py-2.5 text-sm"
                      >
                        <div>
                          <p>Hành khách 1:</p>
                          <p class="font-bold">Mua thêm 10kg hành lý</p>
                        </div>
                        <div class="flex h-full items-center border-l border-[#B3B0D8] pl-3">
                          <img src="./flight-info/drop-dow.svg" alt="" />
                        </div>
                      </div>
                      <div
                        class="flex items-center justify-between rounded-xl border border-[#B3B0D8] px-3.5 py-2.5 text-sm"
                      >
                        <div>
                          <p>Hành khách 1:</p>
                          <p class="font-bold">Mua thêm 10kg hành lý</p>
                        </div>
                        <div class="flex h-full items-center border-l border-[#B3B0D8] pl-3">
                          <img src="./flight-info/drop-dow.svg" alt="" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-col gap-4">
                    <div>
                      <p class="text-accent font-bold">Suất ăn chiều về:</p>
                      <p class="text-sm">Hãy chọn suất ăn yêu thích của bạn</p>
                    </div>
                    <div class="flex flex-col gap-8">
                      <div
                        class="flex items-center justify-between rounded-xl border border-[#B3B0D8] px-3.5 py-2.5 text-sm"
                      >
                        <div>
                          <p>Hành khách 1:</p>
                          <p class="font-bold">Mỳ ý sốt bò bằm</p>
                        </div>
                        <div class="flex h-full items-center border-l border-[#B3B0D8] pl-3">
                          <img src="./flight-info/drop-dow.svg" alt="" />
                        </div>
                      </div>
                      <div
                        class="flex items-center justify-between rounded-xl border border-[#B3B0D8] px-3.5 py-2.5 text-sm"
                      >
                        <div>
                          <p>Hành khách 1:</p>
                          <p class="line-clamp-1 font-bold">
                            Miến xào bò, Mỳ ý sốt bò bằm, nước Lavie, bò bằm, nước Lavie,
                          </p>
                        </div>
                        <div class="flex h-full items-center border-l border-[#B3B0D8] pl-3">
                          <img src="./flight-info/drop-dow.svg" alt="" />
                        </div>
                      </div>
                      <div
                        class="flex items-center justify-between rounded-xl border border-[#B3B0D8] px-3.5 py-2.5 text-sm"
                      >
                        <div>
                          <p>Hành khách 1:</p>
                          <p class="line-clamp-1 font-bold">Mua thêm 10kg hành lý</p>
                        </div>
                        <div class="flex h-full items-center border-l border-[#B3B0D8] pl-3">
                          <img src="./flight-info/drop-dow.svg" alt="" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- //END BOX -->
              <!-- //Start BOX -->
              <div class="rounded-xl px-5 pt-4 pb-12 shadow-[0_8px_20px_rgba(0,0,0,0.15)]">
                <div class="mb-3">
                  <h2 class="text-2xl font-bold">Chọn Chỗ ngồi</h2>
                </div>
                <div class="grid grid-cols-2 gap-6">
                  <div class="flex flex-col gap-4">
                    <div>
                      <p class="text-accent font-bold">Chỗ ngồi chiều đi:</p>
                      <p class="text-sm">Có nhiều mức giá ghế khác nhau để quý khách lựa chọn</p>
                    </div>
                    <div class="flex flex-col gap-8">
                      <div
                        class="flex items-center justify-between rounded-xl border border-[#B3B0D8] px-3.5 py-2.5 text-sm"
                      >
                        <div>
                          <p>Hành khách 1:</p>
                          <p class="line-clamp-1 font-bold">4-C</p>
                        </div>
                        <div class="flex h-full items-center border-l border-[#B3B0D8] pl-3">
                          <img src="./flight-info/drop-dow.svg" alt="" />
                        </div>
                      </div>
                      <div
                        class="flex items-center justify-between rounded-xl border border-[#B3B0D8] px-3.5 py-2.5 text-sm"
                      >
                        <div>
                          <p>Hành khách 1:</p>
                          <p class="line-clamp-1 font-bold">4-C</p>
                        </div>
                        <div class="flex h-full items-center border-l border-[#B3B0D8] pl-3">
                          <img src="./flight-info/drop-dow.svg" alt="" />
                        </div>
                      </div>
                      <div
                        class="flex items-center justify-between rounded-xl border border-[#B3B0D8] px-3.5 py-2.5 text-sm"
                      >
                        <div>
                          <p>Hành khách 1:</p>
                          <p class="line-clamp-1 font-bold">4-C</p>
                        </div>
                        <div class="flex h-full items-center border-l border-[#B3B0D8] pl-3">
                          <img src="./flight-info/drop-dow.svg" alt="" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-col gap-4">
                    <div>
                      <p class="text-accent font-bold">Chỗ ngồi chiều về:</p>
                      <p class="text-sm">Có nhiều mức giá ghế khác nhau để quý khách lựa chọn</p>
                    </div>
                    <div class="flex flex-col gap-8">
                      <div
                        class="flex items-center justify-between rounded-xl border border-[#B3B0D8] px-3.5 py-2.5 text-sm"
                      >
                        <div>
                          <p>Hành khách 1:</p>
                          <p class="line-clamp-1 font-bold">4-C</p>
                        </div>
                        <div class="flex h-full items-center border-l border-[#B3B0D8] pl-3">
                          <img src="./flight-info/drop-dow.svg" alt="" />
                        </div>
                      </div>
                      <div
                        class="flex items-center justify-between rounded-xl border border-[#B3B0D8] px-3.5 py-2.5 text-sm"
                      >
                        <div>
                          <p>Hành khách 1:</p>
                          <p class="line-clamp-1 font-bold">4-C</p>
                        </div>
                        <div class="flex h-full items-center border-l border-[#B3B0D8] pl-3">
                          <img src="./flight-info/drop-dow.svg" alt="" />
                        </div>
                      </div>
                      <div
                        class="flex items-center justify-between rounded-xl border border-[#B3B0D8] px-3.5 py-2.5 text-sm"
                      >
                        <div>
                          <p>Hành khách 1:</p>
                          <p class="line-clamp-1 font-bold">4-C</p>
                        </div>
                        <div class="flex h-full items-center border-l border-[#B3B0D8] pl-3">
                          <img src="./flight-info/drop-dow.svg" alt="" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- //END BOX -->
            </div>
          </div>

          <!-- CHI TIÊT -->
          <div
            class="box-sha col-span-1 rounded-xl shadow-[0_0_18px_rgba(0,0,0,0.15)] filter max-lg:col-span-3"
          >
            <!-- // -->
            <div class="head mb-2 flex items-center justify-between px-3.5 py-2">
              <p class="text-base font-bold">CHI TIẾT GIÁ</p>
              <div>
                <svg
                  width="16"
                  height="9"
                  viewBox="0 0 16 9"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M14.75 0.75L7.75 7.75L0.75 0.75"
                    stroke="#020035"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </div>
            <!-- // -->
            <!-- // -->
            <div
              class="head bg-primary flex items-center justify-between rounded-t-xl p-3.5 text-white"
            >
              <p class="text-base font-bold">Chuyến đi</p>
              <p class="text-base font-bold">1,803,800 VND</p>
            </div>
            <!-- // -->
            <!-- // -->
            <div class="head bg-bg-info flex items-center justify-between p-3.5">
              <p class="text-base font-bold">Giá vé người lớn</p>
              <p class="text-base font-bold">1,220,400 VND</p>
            </div>
            <!-- // -->
            <!-- // -->
            <div class="head p-3.5">
              <div class="flex items-center justify-between text-xs">
                <p>Người lớn x 1</p>
                <p>1,130,000 VND</p>
              </div>
              <div class="flex items-center justify-between text-xs">
                <p>Thuế và phí x 1</p>
                <p>90,400 VND</p>
              </div>
            </div>
            <!-- // -->
            <!-- // -->
            <div class="head bg-bg-info flex items-center justify-between p-3.5">
              <p class="text-base font-bold">Giá vé trẻ em</p>
              <p class="text-base font-bold">1,803,800 VND</p>
            </div>
            <!-- // -->
            <!-- // -->
            <div class="head p-3.5">
              <div class="flex items-center justify-between text-xs">
                <p>Trẻ em x 1</p>
                <p>1,130,000 VND</p>
              </div>
              <div class="flex items-center justify-between text-xs">
                <p>Thuế và phí x 1</p>
                <p>90,400 VND</p>
              </div>
            </div>
            <!-- // -->
            <!-- // -->
            <div class="head bg-bg-info flex items-center justify-between p-3.5">
              <p class="text-base font-bold">Giá vé em bé</p>
              <p class="text-base font-bold">1,803,800 VND</p>
            </div>
            <!-- // -->
            <!-- // -->
            <div class="head p-3.5">
              <div class="flex items-center justify-between text-xs">
                <p>Em bé x 1</p>
                <p>1,130,000 VND</p>
              </div>
              <div class="flex items-center justify-between text-xs">
                <p>Thuế và phí x 1</p>
                <p>90,400 VND</p>
              </div>
            </div>
            <!-- // -->
            <!-- // -->
            <div class="head bg-bg-info flex items-center justify-between p-3.5">
              <p class="text-base font-bold">Dịch vụ bổ trợ</p>
              <p class="text-base font-bold">1,803,800 VND</p>
            </div>
            <!-- // -->
            <!-- // -->
            <div class="head p-3.5">
              <div class="flex items-center justify-between text-xs">
                <p>Người lớn x 1</p>
                <p>1,130,000 VND</p>
              </div>
              <div class="flex items-center justify-between text-xs">
                <p>Thuế và phí x 1</p>
                <p>90,400 VND</p>
              </div>
              <div class="my-2 border border-dotted"></div>
              <div class="flex items-center justify-between text-xs">
                <p>Người lớn x 1</p>
                <p>1,130,000 VND</p>
              </div>
              <div class="flex items-center justify-between text-xs">
                <p>Thuế và phí x 1</p>
                <p>90,400 VND</p>
              </div>
            </div>
            <!-- // -->
            <!-- // -->
            <div class="head bg-primary flex items-center justify-between p-3.5 text-white">
              <p class="text-base font-bold">Chuyến về</p>
              <p class="text-base font-bold">1,803,800 VND</p>
            </div>
            <!-- // -->
            <!-- // -->
            <div class="head bg-bg-info flex items-center justify-between p-3.5">
              <p class="text-base font-bold">Giá vé người lớn</p>
              <p class="text-base font-bold">1,220,400 VND</p>
            </div>
            <!-- // -->
            <!-- // -->
            <div class="head p-3.5">
              <div class="flex items-center justify-between text-xs">
                <p>Người lớn x 1</p>
                <p>1,130,000 VND</p>
              </div>
              <div class="flex items-center justify-between text-xs">
                <p>Thuế và phí x 1</p>
                <p>90,400 VND</p>
              </div>
            </div>
            <!-- // -->
            <!-- // -->
            <div class="head bg-bg-info flex items-center justify-between p-3.5">
              <p class="text-base font-bold">Giá vé trẻ em</p>
              <p class="text-base font-bold">1,803,800 VND</p>
            </div>
            <!-- // -->
            <!-- // -->
            <div class="head p-3.5">
              <div class="flex items-center justify-between text-xs">
                <p>Trẻ em x 1</p>
                <p>1,130,000 VND</p>
              </div>
              <div class="flex items-center justify-between text-xs">
                <p>Thuế và phí x 1</p>
                <p>90,400 VND</p>
              </div>
            </div>
            <!-- // -->
            <!-- // -->
            <div class="head bg-bg-info flex items-center justify-between p-3.5">
              <p class="text-base font-bold">Giá vé em bé</p>
              <p class="text-base font-bold">1,803,800 VND</p>
            </div>
            <!-- // -->
            <!-- // -->
            <div class="head p-3.5">
              <div class="flex items-center justify-between text-xs">
                <p>Em bé x 1</p>
                <p>1,130,000 VND</p>
              </div>
              <div class="flex items-center justify-between text-xs">
                <p>Thuế và phí x 1</p>
                <p>90,400 VND</p>
              </div>
            </div>
            <!-- // -->
            <!-- // -->
            <div class="head bg-bg-info flex items-center justify-between p-3.5">
              <p class="text-base font-bold">Dịch vụ bổ trợ</p>
              <p class="text-base font-bold">1,803,800 VND</p>
            </div>
            <!-- // -->
            <!-- // -->
            <div class="head p-3.5">
              <div class="flex items-center justify-between text-xs">
                <p>Người lớn x 1</p>
                <p>1,130,000 VND</p>
              </div>
              <div class="flex items-center justify-between text-xs">
                <p>Thuế và phí x 1</p>
                <p>90,400 VND</p>
              </div>
              <div class="my-2 border border-dotted"></div>
              <div class="flex items-center justify-between text-xs">
                <p>Người lớn x 1</p>
                <p>1,130,000 VND</p>
              </div>
              <div class="flex items-center justify-between text-xs">
                <p>Thuế và phí x 1</p>
                <p>90,400 VND</p>
              </div>
            </div>
            <!-- // -->
            <!-- // -->
            <div class="bg-bg-info p-3.5">
              <label
                class="flex inline-block cursor-pointer flex-col items-center rounded-xl border border-[#B3B0D8] bg-white px-7 py-3 font-bold"
              >
                <p>Mã Khuyến mại:</p>
                <input type="text" class="uppercase outline-none" placeholder="Ví dụ: VMBSALE100" />
              </label>
            </div>
            <!-- // -->
            <!-- // -->
            <div class="bg-primary p-3.5 text-white">
              <label class="flex cursor-pointer items-start justify-between text-sm">
                <input type="checkbox" class="mt-1.5 mr-2" />
                <p>
                  Tôi đã đọc, hiểu và đồng ý với các điều khoản của hãng hàng không, các thông tin
                  đặt vé đã chính xác và tôi không có thắc mắc gì.
                </p>
              </label>
            </div>
            <!-- // -->
            <div class="p-3.5">
              <p class="text-xl">Tổng tiền:</p>
              <div class="mt-3 flex flex-col items-center justify-between gap-3">
                <p class="text-accent text-2xl font-extrabold">3,607,600 VND</p>
                <button
                  class="bg-accent rounded-tl-3xl rounded-br-3xl px-8 py-3 text-xl font-bold text-white"
                >
                  Thanh toán
                </button>
              </div>
            </div>
            <!-- // -->
          </div>
          <!-- CHI TIÊT -->
        </div>
      </div>
    </section>
    <div
      class="modal-pick-seat fixed top-0 right-0 left-0 z-9999 h-full overflow-y-auto bg-black/20"
    >
      <div
        class="absolute right-0 flex max-h-full w-1/3 flex-col items-center gap-4 overflow-y-auto rounded-xl bg-white p-5 max-lg:w-2/3 max-sm:w-full"
      >
        <div class="flex w-full px-5">
          <div class="flex-1 rounded-l-2xl bg-[#FF3C13] px-4 py-2 text-white">
            <p class="text-sm font-semibold">Chuyến đi</p>
            <p class="text-sm font-semibold">(HAN-SGN)</p>
            <p class="text-xs">Ha Noi - Ho Chi Minh</p>
          </div>
          <div class="flex-1 rounded-r-2xl bg-white px-4 py-2">
            <p class="text-sm font-semibold">Chuyến đi</p>
            <p class="text-sm font-semibold">(SGN-HAN)</p>
            <p class="text-xs">Ho Chi Minh - Ha Noi</p>
          </div>
        </div>
        <div class="relative w-full px-5">
          <div
            class="flex min-h-15 flex-col items-center justify-center rounded-t-2xl bg-[#02066F] text-white"
          >
            <p class="text-sm">Người lớn</p>
            <p class="font-semibold">Nguyễn Việt Hưng</p>
          </div>
          <div class="flex min-h-15 items-center justify-center rounded-b-2xl bg-white">
            <p class="font-semibold">A1, Business</p>
          </div>
          <div class="absolute top-11 right-0">
            <svg
              width="28"
              height="38"
              viewBox="0 0 28 38"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g filter="url(#filter0_d_4386_7434)">
                <rect
                  x="4"
                  y="30"
                  width="30"
                  height="20"
                  rx="10"
                  transform="rotate(-90 4 30)"
                  fill="#FF3C13"
                />
              </g>
              <path d="M12.75 11.8606L15.25 15.0001L12.75 18.1396" fill="#FF3C13" />
              <path
                d="M12.75 11.8606L15.25 15.0001L12.75 18.1396"
                stroke="white"
                stroke-width="2.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <defs>
                <filter
                  id="filter0_d_4386_7434"
                  x="0"
                  y="8.74228e-07"
                  width="28"
                  height="38"
                  filterUnits="userSpaceOnUse"
                  color-interpolation-filters="sRGB"
                >
                  <feFlood flood-opacity="0" result="BackgroundImageFix" />
                  <feColorMatrix
                    in="SourceAlpha"
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha"
                  />
                  <feOffset dy="4" />
                  <feGaussianBlur stdDeviation="2" />
                  <feComposite in2="hardAlpha" operator="out" />
                  <feColorMatrix
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
                  />
                  <feBlend
                    mode="normal"
                    in2="BackgroundImageFix"
                    result="effect1_dropShadow_4386_7434"
                  />
                  <feBlend
                    mode="normal"
                    in="SourceGraphic"
                    in2="effect1_dropShadow_4386_7434"
                    result="shape"
                  />
                </filter>
              </defs>
            </svg>
          </div>
          <div class="absolute top-11 left-0">
            <svg
              width="28"
              height="38"
              viewBox="0 0 28 38"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g filter="url(#filter0_d_4386_7431)">
                <rect
                  x="24"
                  y="8.74228e-07"
                  width="30"
                  height="20"
                  rx="10"
                  transform="rotate(90 24 8.74228e-07)"
                  fill="#FF3C13"
                />
              </g>
              <path d="M15.25 18.1394L12.75 14.9999L15.25 11.8604" fill="#FF3C13" />
              <path
                d="M15.25 18.1394L12.75 14.9999L15.25 11.8604"
                stroke="white"
                stroke-width="2.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <defs>
                <filter
                  id="filter0_d_4386_7431"
                  x="0"
                  y="8.74228e-07"
                  width="28"
                  height="38"
                  filterUnits="userSpaceOnUse"
                  color-interpolation-filters="sRGB"
                >
                  <feFlood flood-opacity="0" result="BackgroundImageFix" />
                  <feColorMatrix
                    in="SourceAlpha"
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha"
                  />
                  <feOffset dy="4" />
                  <feGaussianBlur stdDeviation="2" />
                  <feComposite in2="hardAlpha" operator="out" />
                  <feColorMatrix
                    type="matrix"
                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
                  />
                  <feBlend
                    mode="normal"
                    in2="BackgroundImageFix"
                    result="effect1_dropShadow_4386_7431"
                  />
                  <feBlend
                    mode="normal"
                    in="SourceGraphic"
                    in2="effect1_dropShadow_4386_7431"
                    result="shape"
                  />
                </filter>
              </defs>
            </svg>
          </div>
        </div>
        <form class="relative pb-49">
          <div class="plane relative z-2 p-5 bg-[#EDF9F8]">
            <div class="plane-top min-h-70 pt-20">
              <div class="mb-4 flex justify-center">
                <svg
                  width="178"
                  height="79"
                  viewBox="0 0 178 79"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12.5091 79H0L12.5091 36.3145L26.8945 51.2863L12.5091 79Z"
                    fill="#ADADAD"
                  />
                  <path
                    d="M86 25.1653L30.0218 48.4194L14.0727 32.8105L86 0V25.1653Z"
                    fill="#ADADAD"
                  />
                  <path
                    d="M165.491 79H178L165.491 36.3145L151.105 51.2863L165.491 79Z"
                    fill="#ADADAD"
                  />
                  <path
                    d="M92 25.1653L147.978 48.4194L163.927 32.8105L92 0V25.1653Z"
                    fill="#ADADAD"
                  />
                </svg>
              </div>
              <ul class="flex justify-between px-8 pt-8">
                <li class="flex items-center gap-1 text-xs">
                  <div class="h-3 w-3 rounded-2xl border border-[#02066F]"></div>
                  Ghế trống
                </li>
                <li class="flex items-center gap-1 text-xs">
                  <div class="h-3 w-3 rounded-2xl bg-[#ADADAD]"></div>
                  Đã có người
                </li>
                <li class="flex items-center gap-1 text-xs">
                  <div class="h-3 w-3 rounded-2xl bg-[#02066F]"></div>
                  Đã chọn
                </li>
              </ul>
            </div>
            <div class="bg-white px-6 pb-7 text-center">
              <h2 class="mb-4 font-bold text-[#02066F]">Business class</h2>
              <div>
                <div id="seat-grid1" class="grid gap-2 text-[#02066F]"></div>
              </div>
              <!-- ========== -->

              <h2 class="mt-6 mb-4 font-bold text-[#02066F]">Economy class</h2>
              <div>
                <div id="seat-grid2" class="grid gap-2 text-[#02066F]"></div>
              </div>
            </div>
          </div>
          <div
            class="absolute right-0 bottom-0 left-0 flex h-[85%] flex-col justify-between bg-[#EDEDED]"
          >
            <div class=""></div>
            <div class="flex flex-col gap-4 p-10">
              <div class="flex justify-between text-[#020035]">
                <div>
                  <p class="text-xs">Passengers</p>
                  <p class="text-sm font-bold">2</p>
                </div>
                <div>
                  <p class="text-xs">Seats</p>
                  <p class="text-sm font-bold">A1. B1.C11</p>
                </div>
                <div>
                  <p class="text-xs">Tổng tiền</p>
                  <p class="text-sm font-bold">860,000Đ</p>
                </div>
              </div>
              <div class="rounded-xl bg-[#02066F] p-2.5 text-center">
                <button class="font-bold text-white">Quay lại</button>
              </div>
              <div class="rounded-xl bg-[#FF3C13] p-2.5 text-center">
                <button class="font-bold text-white">Xác nhận và tiếp tục</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <script>
      // PICK SEAT
      const economySeatGrid = document.getElementById("seat-grid2");
      const businessSeatGrid = document.getElementById("seat-grid1");
      const checkedSeatIcon = "./pick-seat/seatChecked.svg";
      const availableSeatIcon = "./pick-seat/seat.svg";
      const disabledSeatIcon = "./pick-seat/seatDisable.svg";
      // VẼ CHỖ NGỒI
      // ==== 2-2 =======
      // createSeatLayout(
      //   4,
      //   ["A", "B", "C", "D"],
      //   1,
      //   3,
      //   [
      //     {
      //       col: "B",
      //       number: 1,
      //     }
      //   ],
      //   businessSeatGrid
      // );
      // ======== 3-3 =========
      // createSeatLayout(
      //   6,
      //   ["A", "B", "C", "D", "E", "F"],
      //   1,
      //   3,
      //   [
      //     {
      //       col: "C",
      //       number: 1,
      //     },
      //   ],
      //   businessSeatGrid
      // );
      // ======== 2-4-2 =========
      // createSeatLayout(
      //   8,
      //   ["A", "B", "C", "D", "E", "F", "G", "H"],
      //   1,
      //   11,
      //   [
      //     {
      //       col: "B",
      //       number: 1,
      //     },
      //     {
      //       col: "F",
      //       number: 1,
      //     },
      //   ],
      //   economySeatGrid
      // );
      // ======= 3-3-3 ========
      createSeatLayout(
        9,
        ["A", "B", "C", "D", "E", "F", "G", "H", "I"],
        1,
        12,
        [
          {
            col: "C",
            number: 1,
          },
          {
            col: "F",
            number: 1,
          },
        ],
        economySeatGrid
      );
      // ======= 3-4-3 ========
      // createSeatLayout(
      //   10,
      //   ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J"],
      //   1,
      //   11,
      //   [
      //     {
      //       col: "C",
      //       number: 1,
      //     },
      //     {
      //       col: "G",
      //       number: 1,
      //     },
      //   ],
      //   businessSeatGrid
      // );
      // SET CHỖ NGỒI ĐÃ CHỌN
      const occupiedSeats = ["A1", "B2"];
      disableSeats(occupiedSeats);
      // totalColumns: Tổng số cột ghế trong 1 dãy (4,6,8)
      // rows: Các hàng ghế ["A", "B", "C", "D", "G"]
      // startNumber: Số bắt đầu 1
      // endNumber: Số kết thúc 11
      // aisleColumns: Các cột có lối đi [{col:"C", number:1}]
      // container: Element chứa ghế
      function createSeatLayout(
        totalColumns,
        rows,
        startNumber,
        endNumber,
        aisleColumns,
        container
      ) {
        totalColumns += aisleColumns.reduce((acc, curr) => acc + curr.number, 0);
        console.log("🚀 ~ createSeatLayout ~ totalColumns:", totalColumns);
        container.classList.add(`grid-cols-${totalColumns}`);
        for (let num = startNumber; num <= endNumber; num++) {
          rows.forEach((row) => {
            const seatId = `${row}${num}`;
            let iconSrc = availableSeatIcon;
            const seatHTML = `
      <label class="flex justify-center items-center relative cursor-pointer" for="seat${seatId}">
      <span class="absolute text-xs bottom-2.5">${seatId}</span>
      <img src="${iconSrc}" class="seat-icon" alt="seat" value="${seatId}" />
      <input type="checkbox" id="seat${seatId}" name="seat" class="input-seat" hidden />
      </label>
    `;
            container.insertAdjacentHTML("beforeend", seatHTML);
            if (aisleColumns.some((aisle) => aisle.col === row)) {
              const aisleConfig = aisleColumns.find((aisle) => aisle.col === row);
              for (let i = 0; i < aisleConfig.number; i++) {
                container.insertAdjacentHTML("beforeend", `<div ></div>`);
              }
            }
          });
        }
      }

      function disableSeats(seatCodes) {
        seatCodes.forEach((seatCode) => {
          const seatInput = document.querySelector(`#seat${seatCode}`);
          seatInput.closest("label").querySelector("img").src = disabledSeatIcon;
          seatInput.disabled = true;
        });
      }

      document.querySelectorAll(".input-seat").forEach((seatInput) => {
        seatInput.addEventListener("change", (e) => {
          const label = e.target.closest("label");
          const seatIcon = label.querySelector("img");
          const seatLabel = label.querySelector("span");

          if (e.target.checked) {
            seatIcon.src = checkedSeatIcon;
            seatLabel.classList.add("text-white");
          } else {
            seatIcon.src = availableSeatIcon;
            seatLabel.classList.remove("text-white");
          }
        });
      });
    </script>
    <script>
      // PICK SEAT
      const planeItemsSelected = document.querySelectorAll(".plane-items-selected");
      planeItemsSelected.forEach((planeItemSelected) => {
        planeItemSelected.querySelector(".clicked").addEventListener("click", () => {
          planeItemSelected.querySelector(".conditions").classList.toggle("hidden");
        });
      });
    </script>
    <%- include("layout/footer.ejs") %>
  </body>
</html>
