@import "tailwindcss";
@config "./../tailwind.config.js";

/* Font setup */
body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
}

.container {
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;

  @media (width >= 40rem) {
    max-width: 40rem;
  }

  @media (width >= 48rem) {
    max-width: 48rem;
  }

  @media (width >= 64rem) {
    max-width: 64rem;
  }

  @media (width >= 80rem) {
    max-width: 80rem;
  }
}

@theme {
  --color-primary: #02066F;
  --color-highlight: #eba00a;
  --color-accent: #ff3c13;
  --color-text-gray: #878c93;
  --color-text-primary: #020035;
  --color-bg-gray: #e9ebee;
  --color-bg-info: #eefdff;
}
