<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flight Booking</title>
    <link rel="stylesheet" href="./output.css" />
    <link rel="stylesheet" href="./custom.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="text-text-primary">
    <%- include("layout/header.ejs") %> <%- include("components/form-search.ejs") %>
    <section class="container mx-auto mt-8">
      <div class="header-section flex justify-between max-lg:flex-wrap">
        <div>
          <p>Chúng tôi tìm thấy <strong>06</strong> chương trình tour cho quý khách</p>
        </div>
        <div class="flex items-center gap-3">
          <p class="inline-block text-[#0EBAB5]">Sắp xếp theo:</p>
          <div class="col-span-2 max-lg:col-span-3">
            <label
              class="select-customer-wrapper relative flex w-full cursor-pointer items-center items-stretch justify-between rounded-lg border border-[#B3B0D8] px-3 pt-1.5 pb-3.5 select-none"
            >
              <div class="">
                <p class="text-render w-full font-semibold">Từ thấp đến cao</p>
                <input type="hidden" disabled="" value="" />
              </div>
              <div class="ml-2 flex items-center pr-0 pl-3">
                <img src="/search/drop-dow-gray.svg" alt="icon drop dow" />
              </div>
              <!-- // Custom select -->
              <ul
                class="select-customer-dropdown absolute top-full left-0 z-10 mt-1 hidden w-full rounded-lg border border-[#B3B0D8] bg-white"
              >
                <li
                  class="option border-b border-[#B3B0D8] px-2 pt-1.5 pb-3.5 font-semibold hover:bg-gray-400 hover:text-white"
                  data-value="ÔngVlaues"
                >
                  Từ cao tới thấp
                </li>
              </ul>
            </label>
          </div>
        </div>
      </div>
      <div class="content mt-10">
        <div class="grid grid-cols-4 items-start gap-5">
          <div
            class="box-sha col-span-1 rounded-xl p-5 shadow-[0_0_18px_rgba(0,0,0,0.15)] filter max-xl:hidden"
          >
            <div class="head flex items-center justify-between border-b border-[#00ABC0] pb-6">
              <p class="text-base font-bold">Bộ lọc</p>
              <div>
                <img src="./flight-list/filter.svg" alt="" />
              </div>
            </div>
            <!-- //Box -->
            <div class="box border-b border-[#00ABC0] py-4">
              <div class="head flex items-center justify-between pb-6">
                <p class="text-base font-bold">Sắp xếp</p>
                <div>
                  <svg
                    width="15"
                    height="9"
                    viewBox="0 0 15 9"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M13.75 0.75L7.25 7.75L0.75 0.75"
                      stroke="#0E0F52"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </svg>
                </div>
              </div>
              <div class="body flex flex-col gap-3">
                <label class="flex cursor-pointer items-center gap-3 select-none">
                  <input type="checkbox" />
                  <p class="text-sm">Giá (Từ thấp đến cao)</p>
                </label>
                <label class="flex cursor-pointer items-center gap-3 select-none">
                  <input type="checkbox" />
                  <p class="text-sm">Giờ cất cánh (Sớm đến muộn)</p>
                </label>
              </div>
            </div>
            <!-- //Box -->
            <div class="box border-b border-[#00ABC0] py-4">
              <div class="head flex items-center justify-between pb-6">
                <p class="text-base font-bold">Lọc theo ngân sách</p>
                <div>
                  <svg
                    width="15"
                    height="9"
                    viewBox="0 0 15 9"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M13.75 0.75L7.25 7.75L0.75 0.75"
                      stroke="#0E0F52"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    ></path>
                  </svg>
                </div>
              </div>
              <div class="body flex flex-col gap-3">
                <label class="flex cursor-pointer items-center gap-3 select-none">
                  <input type="checkbox" />
                  <p class="text-sm">Giá chưa bao gồm thuế phí</p>
                </label>
                <label class="flex cursor-pointer items-center gap-3 select-none">
                  <input type="checkbox" />
                  <p class="text-sm">Giá full thuế phí cho 1 người lớn</p>
                </label>
                <label class="flex cursor-pointer items-center gap-3 select-none">
                  <input type="checkbox" />
                  <p class="text-sm">Tổng giá cho tất cả hành khách</p>
                </label>
              </div>
            </div>
          </div>
          <div class="flight-list col-span-3 max-xl:col-span-4">
            <div class="flex flex-col gap-4">
              <!-- BOX -->
              <%- include("components/tour-card.ejs") %>
              <!-- BOX -->
            </div>
            <div class="mt-3 flex justify-center">
              <button
                class="cursor-pointer rounded-xl bg-[#D3D9DC] px-5 py-2 text-xl font-semibold hover:opacity-70 max-xl:px-3 max-xl:py-1 max-lg:px-5 max-lg:py-1.5"
              >
                Hiển thị thêm
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include("layout/footer.ejs") %>
  </body>
</html>
