<footer class="mt-10 ">
  <div class="bg-bg-info pt-4 pb-10">
    <div class="container mx-auto">
      <h2 class="font-bold text-4xl">Cách thức đặt vé máy bay giá rẻ</h2>
      <div class="grid grid-cols-3 gap-6">
        <div class="flex gap-2 items-center">
          <div>
            <p class="text-accent text-9xl font-bold">1</p>
          </div>
          <div>
            <p class="text-2xl">
              Đặt vé và thanh toán vé ngay trên website
              <strong>
                www.vemaybayso.vn
              </strong>
            </p>
          </div>
        </div>
        <div class="flex gap-2 items-center">
          <div>
            <p class="text-accent text-9xl font-bold">2</p>
          </div>
          <div>
            <p class="text-2xl">
              Đặt vé qua tổng đài CSKH <strong class="text-accent">09.1900.5320</strong> và các công cụ Chat
            </p>
          </div>
        </div>
        <div class="flex gap-2 items-center">
          <div>
            <p class="text-accent text-9xl font-bold">3</p>
          </div>
          <div>
            <p class="text-2xl">
              Đến trực tiếp các điểm giao dịch hoặc văn phòng của Vemaybayso
            </p>
          </div>
        </div>
        <div></div>
        <div class="flex justify-around">
          <div class="flex flex-col items-center gap-3.5">
            <div>
              <a href=""><img src="./footer/zalo.svg" alt=""></a>
            </div>
            <p>Zalo</p>
          </div>
          <div class="flex flex-col items-center gap-3.5">
            <div>
              <a href=""><img src="./footer/mess.svg" alt=""></a>
            </div>
            <p>Messenger</p>
          </div>
          <div class="flex flex-col items-center gap-3.5">
            <div>
              <a href=""><img src="./footer/whatup.svg" alt=""></a>
            </div>
            <p>What Up</p>
          </div>
        </div>
        <div>
          <ul class="space-y-1">
            <li class="flex items-start gap-2">
              <span class="w-2.5 h-2.5 bg-red-500 rounded-full mt-2"></span>
              <span class="text-base">Số 7 Ngõ 4 P. Đào Hinh, Việt Hưng, Long Biên, Hà Nội.</span>
            </li>
            <li class="flex items-start gap-2">
              <span class="w-2.5 h-2.5 bg-red-500 rounded-full mt-2"></span>
              <span class="text-base">Số 226, Tổ 17, Phường Tân Thanh, TP. Điện Biên Phủ, Tỉnh Điện Biên</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class=" relative bg-primary pt-20 pb-14 text-white">
    <div class="container mx-auto">
      <div class="absolute -top-[60px] flex items-end">
        <p class="text-accent text-9xl font-bold">4</p>
        <p class="text-2xl text-white font-bold">Đặt vé trên ứng dụng ngân hàng</p>
      </div>
      <div class="grid grid-cols-4 gap-7">
        <div class="flex flex-col gap-3">
          <div>
            <img src="./footer/Mbbank.png" class="w-full h-30 object-cover" alt="">
          </div>
          <div>
            <p class="text-xl font-bold">
              Ngân hàng MBBank
            </p>
          </div>
          <div>
            <p class="text-sm">Vé máy bay số chính thức triển khai bán hàng trên ngân hàng thương mại cổ phần Quân đội từ năm 2023. </p>
          </div>
        </div>
        <div class="flex flex-col gap-3">
          <div>
            <img src="./footer/Msbbank.png" class="w-full h-30 object-cover" alt="">
          </div>
          <div>
            <p class="text-xl font-bold">
              Ngân hàng MSBBank
            </p>
          </div>
          <div>
            <p class="text-sm">Vé máy bay số chính thức triển khai bán hàng trên ngân hàng thương mại cổ phần Quân đội từ năm 2023. </p>
          </div>
        </div>
        <div class="flex flex-col gap-3">
          <div>
            <img src="./footer/SeABank.png" class="w-full h-30 object-cover" alt="">
          </div>
          <div>
            <p class="text-xl font-bold">
              Ngân hàng MBBank
            </p>
          </div>
          <div>
            <p class="text-sm">Vé máy bay số chính thức triển khai bán hàng trên ngân hàng thương mại cổ phần Quân đội từ năm 2023. </p>
          </div>
        </div>
        <div class="flex flex-col gap-3">
          <div>
            <img src="./footer/Mbbank.png" class="w-full h-30 object-cover" alt="">
          </div>
          <div>
            <p class="text-xl font-bold">
              Ngân hàng MBBank
            </p>
          </div>
          <div>
            <p class="text-sm">Vé máy bay số chính thức triển khai bán hàng trên ngân hàng thương mại cổ phần Quân đội từ năm 2023. </p>
          </div>
        </div>

      </div>
    </div>

  </div>
  <div class="bg-[#CAF0F8] py-6">
    <form action="" class="container mx-auto flex flex-col gap-4">
      <h2 class="text-2xl font-bold">Liên hệ nhanh | Đăng ký nhận bản tin</h2>
      <div class="flex gap-7">
        <div class="bg-white px-2.5 py-1.5 w-1/4 rounded-lg">
          <label class="text-sm">Email: <span class="text-accent ">*</span>
            <br>
            <input type="text" class="text-lg font-bold w-full outline-none" placeholder="Nhập địa chỉ email của bạn">
          </label>
        </div>
        <div class="bg-white px-2.5 py-1.5 w-2/4 rounded-lg">
          <label class="text-sm">Nội dung ngắn gọn:
            <br>
            <input type="text" class="text-lg font-bold w-full outline-none" placeholder="Thông tin cần gửi cho chúng tôi">
          </label>
        </div>
        <div class="bg-primary flex items-center justify-center  w-1/4 rounded-lg">
          <button class="text-white px-9 py-4 font-bold text-base">GỬI/NHẬN THÔNG TIN</button>
        </div>
      </div>
      <div class="flex items-start gap-2">
        <input type="checkbox" name="" value="">
        <p>Tôi đồng ý cho <strong>Vé máy bay số</strong>. và <strong>Cty CP Tập đoàn Công nghệ và Du lịch Thịnh Vượng</strong> xử lý dữ liệu cá nhân của tôi cho mục đích tiếp thị, trong phạm vi và mục đích được nêu trong "Thông tin về việc xử lý dữ liệu cá nhân" , thông qua phương tiện liên lạc điện tử (e-mail), bao gồm cả việc sử dụng cái gọi là hệ thống gọi tự động.</p>
      </div>
    </form>
  </div>
  <div>
    <div class="flex py-7 justify-between container mx-auto">
      <div class="flex justify-between w-5/12">
        <div class="w-1/2">
          <ul>
            <p class="font-bold mb-6 text-base">Giới thiệu</p>
            <li><a class="text-xs" href="">Tập đoàn Protech Group</a></li>
            <li><a class="text-xs" href="">Vé máy bay số</a></li>
            <li><a class="text-xs" href="">Điều khoản và Điều kiện của Trang web</a></li>
            <li><a class="text-xs" href="">Chính sách bảo mật</a></li>
            <li><a class="text-xs" href="">Các đối tác của chúng tôi</a></li>
            <li><a class="text-xs" href="">Liên hệ</a></li>
          </ul>
        </div>
        <div class="w-1/2">
          <ul>
            <p class="font-bold mb-6 text-base">Thông tin hữu ích</p>
            <li><a class="text-xs" href="">Khám phá du lịch bằng máy bay</a></li>
            <li><a class="text-xs" href="">Hướng dẫn đặt vé trên Website</a></li>
            <li><a class="text-xs" href="">Cách thức thanh toán và nhận vé</a></li>
            <li><a class="text-xs" href="">Tra cứu lại vé đã thanh toán</a></li>
            <li><a class="text-xs" href="">Đặt vé đoàn, vé tour theo yêu cầu</a></li>
            <li><a class="text-xs" href="">Khiếu nại thông tin</a></li>
          </ul>
        </div>
      </div>
      <div class="flex justify-between w-7/12">
        <div class="w-2/5">
          <p class="text-2xl font-bold text-accent">09 1900 5320</p>
          <p class="text-sm font-bold">Hotline 24/7</p>
          <p class="font-bold text-xs mt-7">CÔNG TY CỔ PHẦN VÉ MÁY BAY SỐ
            TẬP ĐOÀN CÔNG NGHỆ VÀ DU LỊCH THỊNH VƯỢNG</p>
          <p class="text-xs mt-1">Địa chỉ: Số 12 Hẻm 481/69/135 Ngọc Lâm, Phường Bồ Đề, Thành phố Hà Nội, Việt Nam.</p>
        </div>
        <div class="w-2/5 flex flex-col gap-8">
          <ul class="flex gap-10 items-end">
            <li><a href=""><img src="./footer/face.svg"  class="w-8" alt=""></a></li>
            <li><a href=""><img src="./footer/tiktok.svg"  class="w-8" alt=""></a></li>
            <li><a href=""><img src="./footer/youtube.svg"  class="w-8" alt=""></a></li>
            <li><a href=""><img src="./footer/whatup.svg"  class="w-8" alt=""></a></li>
          </ul>
          <form action="" class="flex justify-between overflow-hidden rounded-2xl border border-[#D3D9DC] max-h-10 w-[240px]">
            <input type="text" placeholder="Email" class="outline-0 p-4 max-w-[150px] text-xs">
            <button class="bg-[linear-gradient(90deg,#00296B_16%,#FF3C13_100%)] py-3.5 px-5 w-[90px] text-xs font-bold text-white text-center">Đang Ký</button>
          </form>
          <div>
            <img src="./footer/bocongthuong.png" alt="" class="w-[158px]">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-[#D3D9DC] py-4 text-center">
    <p class="text-xs">@ 2023 Bản quyền thuộc Công ty Cổ phần Vé Máy Bay Số. Bảo lưu mọi quyền. Mã số DKKD/Thuế: 0110048815</p>
  </div>
</footer>