<header>
  <div class="mt-7.5 container mx-auto flex justify-between items-center ">
    <div class="logo">
      <img src="./logo.svg" class="w-60" alt="Logo vemaybayso.vn">
    </div>
    <div class="info flex items-center gap-6">
      <form class="search border-b-1 flex gap-3.5 p-3.5 w-2xs">
        <button class="cursor-pointer">
            <img src="./header/search.svg" alt="Icon Search">
        </button>
        <input type="text" class="text-xl outline-0 w-full" placeholder="Tìm kiếm">
      </form>
      <a href="">
        <img src="./header/home.svg" class="w-6" alt="Icon home">
      </a>
      <a href="">
        <img src="./header/facebook.svg" class="w-6" alt="Icon facebook">
      </a>
      <a href="">
        <img src="./header/tiktok.svg" class="w-6" alt="Icon tiktok">
      </a>
      <a href="tel:0919005320" class="text-primary text-2xl font-bold inline">
        <img src="./header/phone.svg" alt="Icon phone" class="inline-block">
        <span>09.1900.5320</span>
      </a>
    </div>
  </div>
</header>